/*****
Theme Name: MH Magazine Child Theme
Theme URI: https://www.mhthemes.com/themes/mh/magazine/
Description: This is a child theme for MH Magazine WordPress theme to make customizations much easier for you. By using this child theme you make sure, that you keep your changes after an update of the parent theme.
Author: MH Themes
Author URI: https://www.mhthemes.com/
Template: mh-magazine
Version: 1.0.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*****/

footer .mh-author-bio-avatar{
	border-color: #ccc!important;
	background-color: white!important;
}

.author-footer{
  width: 100px;
  height: 120px;
  background-image: url(favicon-ceic.png);
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.entry-meta-author{
	display: none!important;
}
