<!-- Name: WOWSlider  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container20">
<div class="ws_images"><ul>
<li><img src="%URL%images/jwana.jpg" alt="jwana" title="jwana" id="wows20_0"/>gfddddggdgdgdf</li>
<li><img src="%URL%images/sidra1.jpg" alt="sidra1" title="sidra1" id="wows20_1"/></li>
<li><img src="%URL%images/jwana1.jpg" alt="jwana1" title="jwana1" id="wows20_2"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="jwana"><img src="%URL%tooltips/jwana.jpg" alt="jwana"/>1</a>
<a href="#" title="sidra1"><img src="%URL%tooltips/sidra1.jpg" alt="sidra1"/>2</a>
<a href="#" title="jwana1"><img src="%URL%tooltips/jwana1.jpg" alt="jwana1"/>3</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slider Banner</a> by WOWSlider.com v3.8</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
