    /*
Theme Name: Ceic
Author: Damian Galetto
Author URI: https://prixmates.com/
Description: Theme para CEIC
Version: 1.0
*/
    /* Fonts */
    
    @font-face {
        font-family: BlenderPro;
        src: url('./fonts/blenderpro/blenderpro-thin-webfont.eot');
        src: url('./fonts/blenderpro/blenderpro-thin-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/blenderpro/blenderpro-thin-webfont.woff') format('woff'), url('./fonts/blenderpro/blenderpro-thin-webfont.ttf') format('truetype');
        font-weight: 200;
    }
    
    @font-face {
        font-family: BlenderPro;
        src: url('./fonts/blenderpro/blenderpro-book-webfont.eot');
        src: url('./fonts/blenderpro/blenderpro-book-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/blenderpro/blenderpro-book-webfont.woff') format('woff'), url('./fonts/blenderpro/blenderpro-book-webfont.ttf') format('truetype');
        font-weight: 300;
    }
    
    @font-face {
        font-family: BlenderPro;
        src: url('./fonts/blenderpro/blenderpro-medium-webfont.eot');
        src: url('./fonts/blenderpro/blenderpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/blenderpro/blenderpro-medium-webfont.woff') format('woff'), url('./fonts/blenderpro/blenderpro-medium-webfont.ttf') format('truetype');
        font-weight: 500;
    }
    
    @font-face {
        font-family: BlenderPro;
        src: url('./fonts/blenderpro/blenderpro-bold-webfont.eot');
        src: url('./fonts/blenderpro/blenderpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/blenderpro/blenderpro-bold-webfont.woff') format('woff'), url('./fonts/blenderpro/blenderpro-bold-webfont.ttf') format('truetype');
        font-weight: 700;
    }
    
    @font-face {
        font-family: BlenderPro;
        src: url('./fonts/blenderpro/blenderpro-heavy-webfont.eot');
        src: url('./fonts/blenderpro/blenderpro-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/blenderpro/blenderpro-heavy-webfont.woff') format('woff'), url('./fonts/blenderpro/blenderpro-heavy-webfont.ttf') format('truetype');
        font-weight: 800;
    }
    
    body {
        overflow-x: hidden;
        background-color: #efebea;
        color: #474747;
        font-family: BlenderPro;
        font-weight: 300;
        font-size: 16px;
        color: #474747;
        letter-spacing: 0.015em;
    }
    
    hr {
        border-top: 1px solid #535353;
    }
    
    .n-p {
        padding: 0px;
    }
    
    .n-p-l {
        padding-left: 0px;
    }
    /* Header */
    
    .navbar-superior {
        background-color: #4c4c4c;
        padding-top: 33px;
        padding-bottom: 22px;
        margin-bottom: 50px;
    }
    
    .navbar-superior .navbar-logo {
        padding-left: 0px;
    }
    
    .navbar-superior .navbar-nav>li>a {
        color: #fff;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
    
    .navbar-superior ul {
        margin-top: 10px;
    }
    
    ul#menu-menu-superior li {
        padding-left: 18px;
        padding-right: 0px;
        text-align: center;
        line-height: 18px;
    }
    
    .navbar-superior .nav>li>a:focus,
    .navbar-superior .nav>li>a:hover {
        background-color: transparent;
    }
    
    .navbar-superior .navbar-search {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar-superior.navbar-home {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-top: 50px;
    }
    
    .navbar-pager-box {
        padding: 57px 41px;
        position: absolute;
        top: 289px;
        font-family: BlenderPro;
        font-weight: 500;
    }
    
    .home .toggle-menu-button {
        height: 186px;
        margin-top: -50px;
        padding-top: 59px;
        width: 103px;
        margin-left: -3%;
    }
    
    .home .navbar-superior .navbar-search {
        padding-left: 4.333333%;
        padding-right: 0px;
        height: 186px;
        margin-top: -50px;
        padding-top: 50px;
    }
    
    .toggle-menu-button {
        margin-top: 10px;
    }
    /*buscador*/
    
    .search-form {
        margin-top: 20px;
        text-align: right;
    }
    
    .navbar-superior .search-field {
        border: 0px;
        background: transparent;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 65px;
    }
    
    .navbar-superior .search-submit {
        border: 0px;
        color: #fff;
        background-color: transparent;
    }
    
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    
    @media (min-width: 768px) {
        .navbar-toggle {
            display: block;
        }
    }
    /*Menu Lateral*/
    
    .menu-lateral {
        background-color: #222222;
        -webkit-transition: right .3s ease-in;
        -most-transition: right .3s ease-in;
        -o-transition: right .3s ease-in;
        transition: right .3s ease-in;
        z-index: 1031;
        right: -15%;
        width: 15%;
        position: fixed;
        height: 100%;
        padding: 0px;
        padding-top: 20px;
        padding-left: 30px;
    }
    
    @media (min-width: 1200px) {
        .menu-lateral {
            width: 8.33333333%;
            right: -8.33333333%;
        }
    }
    
    @media (min-width: 1200px) {
        .menu-lateral {
            width: 16.66666667%;
            right: -16.66666667%;
        }
    }
    
    .menu-lateral.active {
        right: 0%;
    }
    
    .menu-lateral li>a {
        font-family: BlenderPro;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        background-color: #222222 !important;
        padding: 20px 15px;
        position: relative;
        display: block;
    }
    
    .menu-lateral li>a:hover {
        text-decoration: none;
        background-color: #222222 !important;
    }
    
    .menu-lateral ul.sub-menu {
        display: none;
        padding-left: 15px;
        list-style: none;
    }
    
    .menu-lateral ul.sub-menu li>a {
        padding: 10px 15px;
    }
    
    .menu-lateral li:hover ul.sub-menu {
        display: block;
    }
    
    .container-main {
        margin-bottom: 70px;
    }
    
    .home .container-main {
        margin-top: 45px;
    }
    /* Paginas */
    
    .page .entry-title,
    h1 {
        color: #474747;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 23px;
        text-transform: uppercase;
        margin-top: 55px;
        margin-bottom: 46px;
    }
    
    .entry-content {
        color: #474747;
        font-family: BlenderPro;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
    }
    
    .entry-content p {
        margin: 0 0 20px;
        text-align: justify;
        overflow: hidden;
    }
    
    .entry-header .author {
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 45px;
        letter-spacing: 0.035em;
    }
    
    .entry-content .share {
        font-size: 13px;
    }
    
    .entry-content .share p {
        margin-bottom: 0px;
    }
    
    .archive-title {
        background-color: #a7a7a7;
    }
    
    .archive-title h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #fff;
    }
    
    .archive-post-content {
        height: 189px;
    }
    
    .taxonomy-description {
        margin-top: 40px;
    }
    
    .archive article,
    .search article {
        margin-bottom: 70px;
    }
    
    .archive hr,
    .search hr {
        margin-bottom: 55px;
    }
    
    .archive h2.entry-title,
    .archive h2.entry-title a,
    .search h2.entry-title,
    .search h2.entry-title a {
        margin-top: 0px;
        color: #474747;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
    }
    
    .archive .entry-content p,
    .search .entry-content p {
        margin-bottom: 0px;
    }
    
    .archive p.author,
    .search p.author,
    .home-box p.author {
        line-height: 17px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.035em;
    }
    
    .archive p.author {
        position: absolute;
        /*bottom: 0;*/
    }
    
    .expand-contract,
    .contract {
        display: none;
    }
    
    #contract {
        display: none;
    }
    
    blockquote {
        max-width: 41.66666667%;
        padding: 30px 30px 0px;
        margin: 0 0 0px;
        font-size: 20px;
        border-left: none;
        float: right;
        line-height: 25px;
        color: #474747;
        letter-spacing: 0.015em;
        font-family: BlenderPro;
        font-weight: 500;
    }
    
    .bg-title {
        background-image: url(http://fundaceic.org/wp-content/uploads/2016/11/background-title.png);
        background-repeat: no-repeat;
        background-color: #a7a7a7;
        margin-bottom: 60px;
    }
    
    .bg-title .entry-title {
        color: #fff;
    }
    /*.entry-header img {margin: 0 auto;}*/
    /*edicion*/
    
    footer.entry-footer {
        background: transparent;
        text-align: right;
    }
    /* FORM */
    
    .nf-form-fields-required {
        display: none;
    }
    
    .contact-input {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #535353;
    }
    
    .contact-textarea {
        background-color: transparent;
        border: 1px solid #535353;
    }
    
    .contact-send-button-wrap,
    .submit-wrap {
        text-align: right;
    }
    
    .contact-send-button {
        background: transparent;
        border: 1px solid;
        padding-left: 13px;
        padding-right: 13px;
    }
    
    .field-wrap {
        margin-bottom: 20px;
    }
    
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #474747;
    }
    
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #474747;
    }
    
     :-ms-input-placeholder {
        /* IE 10+ */
        color: #474747;
    }
    
     :-moz-placeholder {
        /* Firefox 18- */
        color: #474747;
    }
    /* Footer */
    
    footer {
        background-color: #4c4c4c;
        color: #fff;
    }
    
    footer .footer-navigation {
        display: inline-block;
        margin-top: 10px;
    }
    
    footer .footer-navigation a {
        color: #fff;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 15px;
    }
    
    footer .footer-widget {
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    footer .footer-navigation .nav>li>a:focus,
    footer .footer-navigation .nav>li>a:hover,
    footer .footer-social-link a:focus,
    footer .footer-social-link a:hover {
        background-color: transparent;
    }
    
    footer .footer-social-link a {
        color: #fff;
    }
    
    footer .footer-social-link li:last-child a {
        padding-right: 0px;
    }
    
    footer .copy {
        padding: 20px 0 25px;
        font-size: 11px;
        line-height: 17px;
        border-top: 1px solid #fff;
        text-transform: uppercase;
        font-family: BlenderPro;
        font-weight: 300;
    }
    
    @media (min-width: 768px) {
        footer .footer-navigation li {
            border-right: 1px solid #fff;
        }
        footer .footer-navigation li>a {
            padding: 7px 30px 1px;
        }
        footer .footer-navigation li:first-child>a {
            padding-left: 0px
        }
        footer .footer-navigation li:last-child {
            border-right: none;
        }
    }
    /* Home */
    
    .home-box {
        height: 380px;
        overflow: hidden;
        padding-left: 30px;
    }
    
    .home-box h2 {
        margin-top: 65px;
    }
    
    .home-box h2,
    .home-box h2 a {
        color: #fff;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
    }
    
    .home-box .up {
        position: relative;
        z-index: 2;
    }
    
    .home-box img.bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -2;
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
    }
    
    .home-box:hover img.bg {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .home-box:hover .over {
        filter: saturate(9);
        opacity: 0.4;
    }
    
    .home-box:hover .cat-link>a {
        color: #fff !important;
    }
    
    .links-home {
        margin-bottom: 30px;
        text-align: center;
    }
    
    .links-home a {
        color: #4c4c4c;
        text-transform: uppercase;
        letter-spacing: 0.015em;
        font-family: BlenderPro;
        font-weight: 700;
    }
    
    .home-box .over {
        background-color: #000000;
        opacity: 0.3;
        filter: alpha(opacity=30);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .home-box .cat-links {
        position: absolute;
        bottom: 30px;
    }
    
    .home-box p.author {
        color: #fff;
        position: absolute;
        top: 141px;
    }
    
    #owl-institucional h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #4b4b4b;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        padding-right: 10px;
    }
    
    #owl-institucional h2 a {
        color: #4b4b4b;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
    }
    
    #owl-institucional .author {
        position: absolute;
        bottom: 0px;
        line-height: 17px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.035em;
        width: 90%;
    }
    
    .row-destacadas {
        border-top: 1px solid #5f5f5f;
    }
    
    .destacadas-home {
        margin-bottom: 45px;
    }
    
    .destacadas-home h2 a {
        color: #4b4b4b;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.015em;
    }
    
    .destacadas-home img {
        /*-webkit-filter: grayscale(90%);filter: grayscale(90%)*/
    }
    /*STAFF*/
    
    .staff {
        margin-bottom: 20px;
        padding-left: 0px;
    }
    
    .staff h3 {
        color: #474747;
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .staff p {
        font-size: 14px;
    }
    /* categorias */
    
    .cat-links {
        margin-top: 20px;
        display: block;
    }
    
    .cat-link {
        display: inline-block;
        margin-right: 10px;
    }
    
    .cat-links a {
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: #474747;
        line-height: 20px;
    }
    
    .cat-links .cuadrado {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 5px;
        background-color: #474747;
    }
    /* Paginacion */
    
    .nav-links .page-numbers {
        color: #474747;
        font-family: BlenderPro;
        font-weight: 300;
        font-size: 20px;
    }
    
    .nav-links a.page-numbers:hover {
        text-decoration: none;
    }
    /*Contacto*/
    
    label,
    .ninja-forms-req-symbol {
        color: #474747 !important;
        font-family: BlenderPro;
        font-weight: 300 !important;
        font-size: 16px;
        line-height: 25px;
    }
    
    .ninja-forms-req-symbol strong {
        font-weight: 300 !important;
    }
    
    .institucional-title,
    .institucional-title a {
        margin-top: 85px;
        margin-bottom: 40px;
        font-size: 21px;
        line-height: 20px;
        color: #474747;
    }
    
    .owl-controls {
        width: 100px;
        font-family: BlenderPro;
        font-weight: 700;
    }
    
    .owl-prev {
        float: left;
        font-size: 20px;
        text-transform: uppercase;
        padding: 30px 0px;
    }
    
    .owl-next {
        float: right;
        font-size: 20px;
        text-transform: uppercase;
        padding: 30px 0px;
    }
    
    .owl-dots {
        counter-reset: slides-num;
        /* Initialize counter. */
    }
    
    .owl-dots:after {
        content: counter(slides-num);
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        vertical-align: middle;
        padding-left: 1px;
    }
    
    .owl-dot {
        display: inline-block;
        counter-increment: slides-num;
        margin-top: 30px;
    }
    
    .owl-dot span {
        display: none;
    }
    
    .owl-dot.active:before {
        content: counter(slides-num) "/";
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin-left: 10px;
    }
    /*SLIDER HOME*/
    
    .home-slider {
        background-color: #4c4c4c;
    }
    
    #featured_slider {
        float: left;
        height: 580px;
        padding: 0;
        position: relative;
        width: 100%;
    }
    
    #featured_slider ul {
        float: left;
        height: 100%;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #featured_slider .img_right img {
        /*height: 100%;*/
        /*width: 100%;*/
        overflow: hidden;
        transition: transform 0.3s ease-out 0s;
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out 0s;
        -ms-transition: -ms-transform 0.3s ease-out 0s;
        -o-transition: -o-transform 0.3s ease-out 0s;
    }
    
    #featured_slider .content_left {
        width: 635px;
        height: 275px;
        bottom: 100px;
        left: 10px;
        padding: 65px 65px 40px 100px;
        position: absolute;
        z-index: 9999;
        background: #68b6ff;
    }
    
    #featured_slider .content_left h1 {
        margin: 0px;
    }
    
    #featured_slider .content_left a {
        color: #fff;
        text-decoration: none;
    }
    
    #featured_slider .content_left p {
        line-height: 17px;
        font-size: 13px;
        letter-spacing: 0.035em;
        color: #fff;
        font-family: BlenderPro;
        font-weight: 300;
        text-align: right;
        margin: 40px 0px 0px;
    }
    
    #featured_slider .content_left h2 {
        font-size: 20px !important;
        margin-bottom: 20px;
    }
    
    .feat_prev {
        z-index: 10;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        margin-right: 30px;
        font-size: 22px;
    }
    
    #featured_slider h6.author {
        line-height: 17px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.035em;
        color: #fff;
        font-family: BlenderPro;
        font-weight: 300;
    }
    
    .feat_next {
        z-index: 10;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        margin-left: 30px;
        font-size: 22px;
        line-height: 40px;
    }
    
    .feat_pager {
        z-index: 10;
        display: inline-block;
        cursor: pointer;
        color: #fff;
    }
    
    .feat_pager a {
        display: none;
        color: #fff;
        font-family: BlenderPro;
        font-weight: 500;
        font-size: 30px;
        text-decoration: none;
    }
    
    .feat_pager a.activeSlide {
        display: block;
    }
    
    .img_right::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 130px 120px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 130px 120px -8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 130px 120px -8px rgba(0, 0, 0, 0.3);
    }
    
    .owl-carousel .owl-item img {
        /*-webkit-filter: grayscale(90%);
  filter: grayscale(90%);*/
    }
    
    .at-share-btn-elements>a {
        background-color: #efebea !important;
    }
    
    .at-share-btn-elements>a:first-child {
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    
    .memorias-links {
        border-bottom: 1px solid #535353;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .memorias-links a {
        font-family: BlenderPro;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #474747;
        text-decoration: none;
    }
    
    ul#menu-menu-superior li:last-child {
        text-align: left;
    }
    /* =WordPress Core
-------------------------------------------------------------- */
    
    .alignnone {
        margin: 5px 20px 20px 0;
        max-width: 100%;
        height: auto;
    }
    
    .aligncenter,
    div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
        max-width: 100%;
        height: auto;
    }
    
    .alignright {
        float: right;
        margin: 5px 0 20px 20px;
        max-width: 100%;
        height: auto;
    }
    
    .alignleft {
        float: left;
        margin: 5px 20px 20px 0;
        max-width: 100%;
        height: auto;
    }
    
    a img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
        max-width: 100%;
        height: auto;
    }
    
    a img.alignnone {
        margin: 5px 20px 20px 0;
        max-width: 100%;
        height: auto;
    }
    
    a img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
        max-width: 100%;
        height: auto;
    }
    
    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }
    
    .mv-event-container {
        border-top: 1px solid red;
    }
    /* CALENDAR */
    
    .st-bg {
        border-left: none !important;
    }
    
    .st-dtitle {
        border: none !important;
        background: white !important;
    }
    
    @media (max-width: 767px) {
        #featured_slider {
            height: 290px;
        }
        #featured_slider ul>li {
            max-height: 290px !important;
            max-width: 100% !important;
            overflow: hidden;
            width: 100% !important;
            height: 100% !important;
        }
        #featured_slider .img_right img {
            max-height: 100% !important;
            margin-left: 0;
            margin-top: 0;
            height: 100%;
        }
        /*#featured_slider .img_right img {
            max-height: 100% !important;
            margin-left: -50%;
            margin-top: -50%;
        }*/
        .home-pager {
            display: none;
        }
        .navbar-superior .navbar-logo {
            display: inline-block;
            text-align: center;
            margin-top: 20px;
        }
        .navbar-superior .navbar-logo .custom-logo {
            max-width: 50px;
            height: auto;
        }
        .search-form {
            text-align: center;
        }
        .navbar-superior .search-field {
            width: 35px;
        }
        footer .footer-widget {
            margin-top: 30px;
        }
        ul.footer-social-link.nav.navbar-nav {
            text-align: center;
            margin-bottom: 20px;
        }
        ul.footer-social-link.nav.navbar-nav li {
            display: inline-block;
        }
        .home .navbar-superior .navbar-search {
            padding-top: 0px;
            margin-top: 0px;
            height: auto;
        }
        .navbar-superior.navbar-home {
            padding-top: 0px;
        }
        .home-slider {
            width: 100% !important;
        }
        .home .toggle-menu-button {
            margin-left: 0px;
            height: auto;
            padding-top: 63px;
        }
        .navbar-superior ul {
            text-align: center;
            margin-top: 10px;
        }
        .navbar-superior .navbar-nav>li>a {
            padding-top: 0px;
            font-size: 12px;
            line-height: 12px;
            padding-bottom: 7px;
        }
        .home .container-main {
            margin-top: 20px;
            letter-spacing: 0.025em;
        }
        #featured_slider .content_left {
            max-height: 127px;
            max-width: 100%;
            bottom: 10px;
            left: 5% !important;
            padding: 16px 15px 10px 25px;
            width: 90%;
        }
        #featured_slider .content_left a {
            font-size: 11px;
            letter-spacing: 0.015em;
            line-height: 18px;
            display: block;
        }
        #featured_slider h6.author {
            font-size: 10px;
            letter-spacing: 0.035em;
        }
        #featured_slider .content_left p {
            font-size: 10px;
        }
        .links-home a {
            font-size: 9px;
        }
        .home-box h2,
        .home-box h2 a {
            font-size: 12px;
        }
        footer .footer-navigation a {
            font-size: 11px;
            line-height: 11px;
            letter-spacing: 0.02em;
            padding: 6px 15px;
        }
        .home-box .cat-links a {
            font-size: 11px;
            letter-spacing: 0.015em;
        }
        .home-box p.author {
            font-size: 11px;
        }
        .menu-lateral {
            width: 100%;
            right: -100%;
            overflow: auto;
        }
        .menu-lateral li>a,
        .menu-lateral ul.sub-menu li>a {
            font-size: 12px;
            padding: 10px 15px 10px;
        }
        .menu-lateral ul.sub-menu {
            padding-left: 0px;
            display: block;
        }
        .menu-lateral ul.sub-menu li>a {
            font-weight: 200;
            padding: 7.500px 15px 7.500px;
        }
        .archive-post-content {
            height: auto;
        }
        .archive p.author {
            position: relative;
        }
        .bg-title {
            background-image: none;
        }
        .post img.img-responsive.wp-post-image {
            margin-bottom: 20px;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        .home-box {
            width: 50%;
            float: left;
        }
        #featured_slider ul>li {
            height: 100% !important;
        }
    }
    
    @media (max-width: 767px) and (orientation: landscape) {
        .home-box {
            width: 50%;
            float: left;
        }
        #featured_slider .img_right img {
            margin-top: auto;
        }
        #featured_slider .content_left p {
            margin: 10px 0px 0px;
        }
        #featured_slider ul>li {
            height: 100% !important;
        }
        .navbar-superior .search-field {
            border-radius: 0;
            -webkit-appearance: none;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 520px) and (orientation: portrait) {
        .home-box {
            width: 100%;
        }
        #featured_slider ul>li {
            height: 100% !important;
        }
        #featured_slider .img_right img {
            max-height: 100% !important;
            margin-left: 0;
            margin-top: 0;
            height: 100%;
        }
        .navbar-superior .search-field {
            border-radius: 0;
            -webkit-appearance: none;
        }
    }
    
    @media (min-device-width: 520px) and (max-width: 767px) and (orientation: portrait) {
        .home-box {
            width: 100%;
            float: left;
        }
        #featured_slider ul>li {
            height: 100% !important;
        }
        #featured_slider .img_right img {
            max-height: 100% !important;
            margin-left: 0;
            margin-top: 0;
            height: 100%;
        }
        .navbar-superior .search-field {
            border-radius: 0;
            -webkit-appearance: none;
        }
    }
    
    @media only screen and (width: 768px) {
        .home-box {
            width: 50%;
            float: left;
        }
        .home-pager {
            display: none;
        }
    }
    
    @media (max-width: 1024px) {
        .container-fluid {
            overflow-x: hidden;
        }
    }
    
    @media (max-width: 1023px) {
        .home .toggle-menu-button {
            margin-left: 0px;
            height: auto;
            padding-top: 63px;
        }
        .navbar-superior .navbar-logo {
            display: inline-block;
            text-align: center;
            margin-top: 20px;
        }
        .navbar-superior ul {
            text-align: center;
            margin-top: 10px;
        }
        .navbar-superior .navbar-nav>li>a {
            padding-top: 0px;
            font-size: 14px;
            line-height: 12px;
            padding-bottom: 7px;
        }
        #featured_slider .content_left {
            max-height: 127px;
            max-width: 100%;
            bottom: 10px;
            left: 5% !important;
            padding: 16px 15px 10px 25px;
            width: 90%;
        }
        #featured_slider .content_left a {
            font-size: 11px;
            letter-spacing: 0.015em;
            line-height: 18px;
            display: block;
        }
        #featured_slider h6.author {
            font-size: 10px;
            letter-spacing: 0.035em;
        }
        .navbar-superior .search-field {
            border-radius: 0;
            -webkit-appearance: none;
        }
    }
    
    @media (min-width: 600px) and (min-device-width: 520px) and (max-width: 767px) and (orientation: portrait) {
        .home-box {
            width: 50%;
            float: left;
        }
    }