<!-- Name: Jornada "Problemas Globales, Soluciones Locales"  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container25">
<div class="ws_images"><ul>
<li><img src="%URL%images/pgsl1.jpg" alt="pgsl1" title="pgsl1" id="wows25_0"/></li>
<li><img src="%URL%images/pgsl2.jpg" alt="pgsl2" title="pgsl2" id="wows25_1"/></li>
<li><img src="%URL%images/pgsl3.jpg" alt="pgsl3" title="pgsl3" id="wows25_2"/></li>
<li><img src="%URL%images/pgsl4.jpg" alt="pgsl4" title="pgsl4" id="wows25_3"/></li>
<li><img src="%URL%images/pgsl5.jpg" alt="pgsl5" title="pgsl5" id="wows25_4"/></li>
<li><img src="%URL%images/pgsl6.jpg" alt="pgsl6" title="pgsl6" id="wows25_5"/></li>
<li><img src="%URL%images/bajares920.jpg" alt="bajares920" title="bajares920" id="wows25_6"/></li>
<li><img src="%URL%images/bajares930.jpg" alt="bajares930" title="bajares930" id="wows25_7"/></li>
<li><img src="%URL%images/bajares931.jpg" alt="bajares931" title="bajares931" id="wows25_8"/></li>
<li><img src="%URL%images/bajares938.jpg" alt="bajares938" title="bajares938" id="wows25_9"/></li>
<li><img src="%URL%images/bajares942.jpg" alt="bajares942" title="bajares942" id="wows25_10"/></li>
<li><img src="%URL%images/la_foto_4.jpg" alt="la foto (4)" title="la foto (4)" id="wows25_11"/></li>
<li><img src="%URL%images/la_foto_6.jpg" alt="la foto (6)" title="la foto (6)" id="wows25_12"/></li>
<li><img src="%URL%images/la_foto_7.jpg" alt="la foto (7)" title="la foto (7)" id="wows25_13"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#wows25_0" title="pgsl1"><img src="%URL%tooltips/pgsl1.jpg" alt="pgsl1"/>1</a>
<a href="#wows25_1" title="pgsl2"><img src="%URL%tooltips/pgsl2.jpg" alt="pgsl2"/>2</a>
<a href="#wows25_2" title="pgsl3"><img src="%URL%tooltips/pgsl3.jpg" alt="pgsl3"/>3</a>
<a href="#wows25_3" title="pgsl4"><img src="%URL%tooltips/pgsl4.jpg" alt="pgsl4"/>4</a>
<a href="#wows25_4" title="pgsl5"><img src="%URL%tooltips/pgsl5.jpg" alt="pgsl5"/>5</a>
<a href="#wows25_5" title="pgsl6"><img src="%URL%tooltips/pgsl6.jpg" alt="pgsl6"/>6</a>
<a href="#wows25_6" title="bajares920"><img src="%URL%tooltips/bajares920.jpg" alt="bajares920"/>7</a>
<a href="#wows25_7" title="bajares930"><img src="%URL%tooltips/bajares930.jpg" alt="bajares930"/>8</a>
<a href="#wows25_8" title="bajares931"><img src="%URL%tooltips/bajares931.jpg" alt="bajares931"/>9</a>
<a href="#wows25_9" title="bajares938"><img src="%URL%tooltips/bajares938.jpg" alt="bajares938"/>10</a>
<a href="#wows25_10" title="bajares942"><img src="%URL%tooltips/bajares942.jpg" alt="bajares942"/>11</a>
<a href="#wows25_11" title="la foto (4)"><img src="%URL%tooltips/la_foto_4.jpg" alt="la foto (4)"/>12</a>
<a href="#wows25_12" title="la foto (6)"><img src="%URL%tooltips/la_foto_6.jpg" alt="la foto (6)"/>13</a>
<a href="#wows25_13" title="la foto (7)"><img src="%URL%tooltips/la_foto_7.jpg" alt="la foto (7)"/>14</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slider Banner</a> by WOWSlider.com v3.8</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
