<!-- Name: Museo de la Resistencia en Líbano  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container4">
<div class="ws_images"><ul>
<li><img src="%URL%images/dsc06200.jpg" alt="Campus de la Universidad Americana de Beirut con el Mar Mediterráneo como fondo" title="Campus de la Universidad Americana de Beirut con el Mar Mediterráneo como fondo" id="wows4_0"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="%URL%images/dsc06200.jpg" title="Campus de la Universidad Americana de Beirut con el Mar Mediterráneo como fondo"><img src="%URL%tooltips/dsc06200.jpg" alt="Campus de la Universidad Americana de Beirut con el Mar Mediterráneo como fondo"/>1</a>
<a href="%URL%images/blog1.jpg" title="Museo de la Resistencia">2</a>
<a href="%URL%images/blog2.jpg" title="Montañas nevadas en Mleeta">3</a>
<a href="%URL%images/dsc06215.jpg" title="Paisaje de Mleeta">4</a>
<a href="%URL%images/dsc06204.jpg" title="Entrada principal al Museo">5</a>
<a href="%URL%images/dsc06203.jpg" title="Museo de la Resistencia y su arquitectura">6</a>
<a href="%URL%images/dsc06213.jpg" title="Camino al Abismo">7</a>
<a href="%URL%images/dsc06210.jpg" title="El Abismo">8</a>
<a href="%URL%images/dsc06212.jpg" title="El Abismo">9</a>
<a href="%URL%images/dsc06206.jpg" title="muestra de armas">10</a>
<a href="%URL%images/dsc06219.jpg" title="Museo">11</a>
<a href="%URL%images/dsc06225.jpg" title="Museo">12</a>
</div></div>
<a class="wsl" href="http://wowslider.com">jQuery Image Auto Scroller by WOWSlider.com v3.3</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
