<!-- Name: "Una generación potencialmente perdida"  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container11">
<div class="ws_images"><ul>
<li><img src="%URL%images/abduljabar_y_su_hna_delvin.jpg" alt="Abduljabar y su Hermana Delvin" title="Abduljabar y su Hermana Delvin" id="wows11_0"/>Abduljabar huyó de Siria con su familia en agosto del año pasado, sin saber con qué se encontraría en Irak y sin saber si habría escuelas en el campo de refugiados. "No estaba feliz al no saber si iba a poder volver a ir a la escuela aquí", dice. Su madre cuenta que se sintió muy aliviado al descubrir que podría retornar a clases. Está ansioso porque se terminen las vacaciones de verano y pueda volver al colegio, quiere aprender a leer y escribir. "Cuando crezca quiero ser doctor, como mi tío", dice.</li>
<li><img src="%URL%images/jwana_y_su_papa.jpg" alt="Jwana y su papá" title="Jwana y su papá" id="wows11_1"/>Le toma una hora de ida y una hora de vuelta caminar hasta la escuela Qamishlu en el campo de refugiados de Domiz, donde vive con su familia desde diciembre del año pasado. Pero a pesar de la larga caminata, está entusiasmada con volver al colegio después de las vacaciones de verano. Está feliz de haber podido anotarse en la escuela del campo casi desde que llegó de Siria, y de haberse hecho amigos rápidamente en su nueva escuela. "Jugamos juntos, caminamos de y hacia la escuela juntos y cuando alguno de nosotros tiene algún caramelo, lo comparte con todos", cuenta Jwana. Su clase favorita en la escuela es Árabe, y también está feliz con sus maestros. "Ellos me tratan bien y me respetan", dice. "Quiero crecer y ser como mis maestros, tener conocimiento como ellos", agrega.  De grande sueña con ser una cantante. Su padre toca el banjo y lo trajo consigo a Irak. En su tienda, Jwana suele cantar con su papá acompañándola en el banjo.</li>
<li><img src="%URL%images/sidra_mohammedsalah_ahmed.jpg" alt="Sidra Mohammedsalah Ahmed" title="Sidra Mohammedsalah Ahmed" id="wows11_2"/>Cuando Sidra llegó al campo de Domiz, había estado sin ir a la escuela por tres meses. "Estaba triste cuando no iba a clases", dice. Extrañaba a sus amigos y se preocupaba por no poder continuar con su educación. Además comenzaba a olvidar lo que ya había aprendido, como leer. Ahora Sidra tomó clases de verano en la escuela Jiyan en el campamento de Domiz. Está feliz de que podrá volver a la escuela, aunque haya tenido que estudiar en el verano mientras otros chicos estaban de vacaciones. Ahora tiene que volver a aprender todo lo que se olvidó cuando dejó de ir a clases. "Es importante ir a la escuela para aprender a leer y escribir , dice, y agrega que su materia favorita es Inglés y le gusta jugar a saltar la cuerda con sus amigos en los recreos. "Me gusta más la escuela acá que en Siria", dice. "Quiero ser maestra cuando crezca, para poder ayudar a los chicos a que aprendan". </li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="Abduljabar y su Hermana Delvin"><img src="%URL%tooltips/abduljabar_y_su_hna_delvin.jpg" alt="Abduljabar y su Hermana Delvin"/>1</a>
<a href="#" title="Jwana y su papá"><img src="%URL%tooltips/jwana_y_su_papa.jpg" alt="Jwana y su papá"/>2</a>
<a href="#" title="Sidra Mohammedsalah Ahmed"><img src="%URL%tooltips/sidra_mohammedsalah_ahmed.jpg" alt="Sidra Mohammedsalah Ahmed"/>3</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slideshow Javascript</a> by WOWSlider.com v4.5</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
