<!-- Name: Crisis Humanitaria en Siria  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container6">
<div class="ws_images"><ul>
<li><img src="%URL%images/childrenofsyriaii_5151ecf5a296b.jpg" alt="Unicef #childrenofsyria" title="Unicef #childrenofsyria" id="wows6_0"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="%URL%images/childrenofsyriaii_5151ecf5a296b.jpg" title="Unicef #childrenofsyria"><img src="%URL%tooltips/childrenofsyriaii_5151ecf5a296b.jpg" alt="Unicef #childrenofsyria"/>1</a>
<a href="%URL%images/childrenofsyriaiii_5151ef06c31ac.jpg" title="Unicef #childrenofsyria">2</a>
<a href="%URL%images/24monthsofsyriaconflict_514b202293334.jpg" title="24 Months of Syria Conflict">3</a>
<a href="%URL%images/savesyria_512c6da9d8524.jpg" title="Save Syria ">4</a>
</div></div>
<a class="wsl" href="http://wowslider.com">jQuery Image Auto Scroller by WOWSlider.com v3.3</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
