<!-- Name: Evento Lanzamiento "Ciclo de Debate y Discusión"  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container3">
<div class="ws_images"><ul>
<li><img src="%URL%images/ciclo2.jpg" alt="" title="" id="wows3_0"/></li>
<li><img src="%URL%images/ciclo3.jpg" alt="" title="" id="wows3_1"/></li>
<li><img src="%URL%images/ciclo4.jpg" alt="" title="" id="wows3_2"/></li>
<li><img src="%URL%images/ciclo5.jpg" alt="" title="" id="wows3_3"/></li>
<li><img src="%URL%images/ciclo1.jpg" alt="" title="" id="wows3_4"/></li>
<li><img src="%URL%images/ciclo6.jpg" alt="" title="" id="wows3_5"/></li>
<li><img src="%URL%images/ciclo7.jpg" alt="" title="" id="wows3_6"/></li>
<li><img src="%URL%images/ciclo8.jpg" alt="" title="" id="wows3_7"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title=""><img src="%URL%tooltips/ciclo2.jpg" alt=""/>1</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo3.jpg" alt=""/>2</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo4.jpg" alt=""/>3</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo5.jpg" alt=""/>4</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo1.jpg" alt=""/>5</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo6.jpg" alt=""/>6</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo7.jpg" alt=""/>7</a>
<a href="#" title=""><img src="%URL%tooltips/ciclo8.jpg" alt=""/>8</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slideshow Banner</a> by WOWSlider.com v3.6</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
