<!-- Name: Represión en Egipto en imágenes  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container7">
<div class="ws_images"><ul>
<li><a href="https://www.facebook.com/photo.php?fbid=705147856167234&set=pb.163314510350574.-2207520000.1376633054.&type=3&theater"><img src="%URL%images/anti_coup.jpg" alt="Las calles de Egipto, escenario de choques violentos" title="Las calles de Egipto, escenario de choques violentos" id="wows7_0"/></a>Fuente: Facebook Ikhwanul Muslimin</li>
</ul></div>
<div class="ws_bullets"><div>
<a href="%URL%images/anti_coup.jpg" title="Las calles de Egipto, escenario de choques violentos"><img src="%URL%tooltips/anti_coup.jpg" alt="Las calles de Egipto, escenario de choques violentos"/>1</a>
<a href="%URL%images/punto_de_resistencia.jpg" title="Punto de resistencia de partidarios de Morsi">2</a>
<a href="%URL%images/campamento_morsi.jpg" title="Miembros de la Hermandad Musulmanan se preparan para resistir avance de las fuerzas policiales">3</a>
<a href="%URL%images/rabaa_aladaweya_field_hospital.jpg" title="Rabaa Al-Adaweya Field Hospital">4</a>
<a href="%URL%images/victimas.jpg" title="Víctimas de la represión">5</a>
</div></div>
<a class="wsl" href="http://wowslider.com">jQuery Image Auto Scroller by WOWSlider.com v3.3</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
