<!-- Name: WOWSlider  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container21">
<div class="ws_images"><ul>
<li><img src="%URL%images/jwana1.jpg" alt="jwana1" title="jwana1" id="wows21_0"/></li>
<li><img src="%URL%images/sidra2.jpg" alt="sidra2" title="sidra2" id="wows21_1"/></li>
<li><img src="%URL%images/abduljabar_y_delvin.jpg" alt="abduljabar y delvin" title="abduljabar y delvin" id="wows21_2"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="jwana1"><img src="%URL%tooltips/jwana1.jpg" alt="jwana1"/>1</a>
<a href="#" title="sidra2"><img src="%URL%tooltips/sidra2.jpg" alt="sidra2"/>2</a>
<a href="#" title="abduljabar y delvin"><img src="%URL%tooltips/abduljabar_y_delvin.jpg" alt="abduljabar y delvin"/>3</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slider Banner</a> by WOWSlider.com v3.8</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
