<!-- Name: Universidad para la Paz: el sueño de un internacionalista  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container22">
<div class="ws_images"><ul>
<li><img src="%URL%images/dscn9927.jpg" alt="DSCN9927" title="DSCN9927" id="wows22_0"/></li>
<li><img src="%URL%images/dscn9928.jpg" alt="DSCN9928" title="DSCN9928" id="wows22_1"/></li>
<li><img src="%URL%images/dscn9929.jpg" alt="DSCN9929" title="DSCN9929" id="wows22_2"/></li>
<li><img src="%URL%images/dscn9931.jpg" alt="DSCN9931" title="DSCN9931" id="wows22_3"/></li>
<li><img src="%URL%images/dscn9933.jpg" alt="DSCN9933" title="DSCN9933" id="wows22_4"/></li>
<li><img src="%URL%images/dscn9963.jpg" alt="DSCN9963" title="DSCN9963" id="wows22_5"/></li>
<li><img src="%URL%images/dscn0063.jpg" alt="DSCN0063" title="DSCN0063" id="wows22_6"/></li>
<li><img src="%URL%images/dscn9926.jpg" alt="DSCN9926" title="DSCN9926" id="wows22_7"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="DSCN9927"><img src="%URL%tooltips/dscn9927.jpg" alt="DSCN9927"/>1</a>
<a href="#" title="DSCN9928"><img src="%URL%tooltips/dscn9928.jpg" alt="DSCN9928"/>2</a>
<a href="#" title="DSCN9929"><img src="%URL%tooltips/dscn9929.jpg" alt="DSCN9929"/>3</a>
<a href="#" title="DSCN9931"><img src="%URL%tooltips/dscn9931.jpg" alt="DSCN9931"/>4</a>
<a href="#" title="DSCN9933"><img src="%URL%tooltips/dscn9933.jpg" alt="DSCN9933"/>5</a>
<a href="#" title="DSCN9963"><img src="%URL%tooltips/dscn9963.jpg" alt="DSCN9963"/>6</a>
<a href="#" title="DSCN0063"><img src="%URL%tooltips/dscn0063.jpg" alt="DSCN0063"/>7</a>
<a href="#" title="DSCN9926"><img src="%URL%tooltips/dscn9926.jpg" alt="DSCN9926"/>8</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slideshow Javascript</a> by WOWSlider.com v4.5</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
