<!-- Name: "Una generación potencialmente perdida"  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container13">
<div class="ws_images"><ul>
<li><img src="%URL%images/abduljabar_y_su_hna_delvin.jpg" alt="Abduljabar y su Hermana Delvin" title="Abduljabar y su Hermana Delvin" id="wows13_0"/>Abduljabar huyó de Siria con su familia en agosto del año pasado, sin saber con qué se encontraría en Irak y sin saber si habría escuelas en el campo de refugiados. "</li>
<li><img src="%URL%images/jwana_y_su_papa.jpg" alt="Jwana y su papá" title="Jwana y su papá" id="wows13_1"/>Le toma una hora de ida y una hora de vuelta caminar hasta la escuela Qamishlu en el campo de refugiados de Domiz, donde vive con su familia desde diciembre del año pasado. </li>
<li><img src="%URL%images/sidra_mohammedsalah_ahmed.jpg" alt="Sidra Mohammedsalah Ahmed" title="Sidra Mohammedsalah Ahmed" id="wows13_2"/>Cuando Sidra llegó al campo de Domiz, había estado sin ir a la escuela por tres meses. "Estaba triste cuando no iba a clases"</li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="Abduljabar y su Hermana Delvin"><img src="%URL%tooltips/abduljabar_y_su_hna_delvin.jpg" alt="Abduljabar y su Hermana Delvin"/>1</a>
<a href="#" title="Jwana y su papá"><img src="%URL%tooltips/jwana_y_su_papa.jpg" alt="Jwana y su papá"/>2</a>
<a href="#" title="Sidra Mohammedsalah Ahmed"><img src="%URL%tooltips/sidra_mohammedsalah_ahmed.jpg" alt="Sidra Mohammedsalah Ahmed"/>3</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slideshow Javascript</a> by WOWSlider.com v4.5</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
