<!-- Name: Jornada "Problemas Globales, Soluciones Locales"  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container23">
<div class="ws_images"><ul>
<li><img src="%URL%images/la_foto_6.jpg" alt="la foto (6)" title="la foto (6)" id="wows23_0"/></li>
<li><img src="%URL%images/la_foto_7.jpg" alt="la foto (7)" title="la foto (7)" id="wows23_1"/></li>
<li><img src="%URL%images/pgsl1.jpg" alt="pgsl1" title="pgsl1" id="wows23_2"/></li>
<li><img src="%URL%images/pgsl2.jpg" alt="pgsl2" title="pgsl2" id="wows23_3"/></li>
<li><img src="%URL%images/pgsl3.jpg" alt="pgsl3" title="pgsl3" id="wows23_4"/></li>
<li><img src="%URL%images/pgsl4.jpg" alt="pgsl4" title="pgsl4" id="wows23_5"/></li>
<li><img src="%URL%images/pgsl5.jpg" alt="pgsl5" title="pgsl5" id="wows23_6"/></li>
<li><img src="%URL%images/pgsl6.jpg" alt="pgsl6" title="pgsl6" id="wows23_7"/></li>
<li><img src="%URL%images/la_foto_4.jpg" alt="la foto (4)" title="la foto (4)" id="wows23_8"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#wows23_0" title="la foto (6)"><img src="%URL%tooltips/la_foto_6.jpg" alt="la foto (6)"/>1</a>
<a href="#wows23_1" title="la foto (7)"><img src="%URL%tooltips/la_foto_7.jpg" alt="la foto (7)"/>2</a>
<a href="#wows23_2" title="pgsl1"><img src="%URL%tooltips/pgsl1.jpg" alt="pgsl1"/>3</a>
<a href="#wows23_3" title="pgsl2"><img src="%URL%tooltips/pgsl2.jpg" alt="pgsl2"/>4</a>
<a href="#wows23_4" title="pgsl3"><img src="%URL%tooltips/pgsl3.jpg" alt="pgsl3"/>5</a>
<a href="#wows23_5" title="pgsl4"><img src="%URL%tooltips/pgsl4.jpg" alt="pgsl4"/>6</a>
<a href="#wows23_6" title="pgsl5"><img src="%URL%tooltips/pgsl5.jpg" alt="pgsl5"/>7</a>
<a href="#wows23_7" title="pgsl6"><img src="%URL%tooltips/pgsl6.jpg" alt="pgsl6"/>8</a>
<a href="#wows23_8" title="la foto (4)"><img src="%URL%tooltips/la_foto_4.jpg" alt="la foto (4)"/>9</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slider Banner</a> by WOWSlider.com v3.8</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
