body {
  background: url('imagenes/bg13.jpg') repeat-x #fff;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 14px;
  line-height: 18px;
  margin: 2px 0px 2px 0px;
  padding: 0px;
}
h3 {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  color: #009933;
}
h3 a {
  color: #4d4d4d;
  font-size: 14px;
  text-decoration: none;
}
h3 a:hover {
  text-decoration: underline;
  color: #7f7f7f;
}
h5 {
  font-size: 22px;
  color: #4d4d4d;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
  text-align: left;
}
#contenedor-sitio {
  margin: 0 auto;
  padding: 0px;
  /*background-color:#fff;*/

}
#top {
  height: 40px;
  margin: 0 auto;
  padding: 5px 0;
  width: 990px;
}
#logogeic {
  width: 395px;
  height: 130px;
  padding: 0px;
  margin: 10px 0px 0px 10px;
  float: left;
}
#icon-social {
  float: right;
  height: 23px;
  margin: 10px 8px 0 0;
  padding: 0;
  width: 105px;
}
a.socialMedia {
  opacity: 1;
}
a.socialMedia:hover {
  opacity: 0.5;
}
#icon-social table td.icon {
  width: 30px;
}
#buscador-top {
  color: white;
  float: left;
  font-size: 11px;
  height: 35px;
  margin: 5px 0 0;
  padding: 0 6px 0 0;
  position: relative;
  text-align: right;
  width: 432px;
}
#search {
  background: none repeat scroll 0 0 white;
  border: 1px solid #f4f4f4;
  color: #111111;
  height: 15px;
  margin: 0 10px;
  padding: 4px 6px;
  width: 175px;
}
#buscador-top table {
  margin: 0px;
  padding: 0px;
}
#buscador-top #lupa {
  margin: 0;
  position: absolute;
  right: 25px;
  top: 5px;
}
#menu-top {
  color: black;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 12px 0 12px 10px;
  width: 390px;
}
#menu-top ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu-top li {
  float: left;
  padding: 0px 10px;
  border-left: 1px solid white;
  font-weight: bold;
  margin: 0 2px;
}
#menu-top a {
  text-decoration: none;
  color: white;
}
#menu-top a:hover {
  text-decoration: underline;
  color: #cccccc;
}
#menu-top .nada {
  border-left: 0;
}
#animacion {
  width: 900px;
  height: 110px;
  background-color: #3e3d40;
  border-bottom: 2px solid white;
}
#menu-principal {
  width: 990px;
  height: 45px;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px 0;
}
#menu-principal ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu-principal li {
  float: left;
  font-size: 14px;
  margin: 5px 0 0;
  padding: 10px 13px;
  text-align: center;
}
#menu-principal li a {
  color: white;
  text-decoration: none;
}
#menu-principal li:hover,
#menu-principal li.current-cat {
  background-color: #a2a3a5;
  text-decoration: none;
}
#cuerpo-contenido {
  width: 990px;
  margin: 0px auto;
  padding: 0 0 10px;
}
#cuerpo {
  width: 660px;
  margin: 0;
  padding: 0px;
  float: left;
}
#cuerpo h4 {
  font-size: 13px;
  color: white;
  margin: 5px 40px 0px 15px;
  padding: 5px 10px;
  background-color: #999999;
}
h3.categoriah3 {
  font-size: 13px;
  color: #009933;
  margin: 5px 0px;
  padding: 0px;
}
#trabajos {
  width: 660px;
  float: left;
}
.cat-title {
  background: none repeat scroll 0 0 #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  margin: 0 10px;
    overflow: hidden;
    padding: 15px;
    width: 610px;
}
.cat-title .title-sep {
  background: none repeat scroll 0 0 #3e3d42;
  display: block;
  float: left;
  height: 12px;
  margin-right: 12px;
  margin-top: 2px;
  width: 12px;
}
.cat-title h6 {
  color: #424242;
  float: left;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
#investigacion {
  width: 660px;
  float: left;
  margin: 0 0 20px;
}
#investigacion ul {
  list-style: none;
  font-size: 13px;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  width: 660px;
}
#investigacion li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
#investigacion li img {
  width: 75px;
  height: 60px;
}
.boxInvestigacion h6 {
  padding: 0px;
  margin: 0px 0px 2px 0px;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
  float: left;
  clear: both;
}
.boxInvestigacion {
  float: left;
  width: 640px;
  height: 60px;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #ededed;
}
.boxInvestigacion:hover {
  background-color: #f8f8f8;
}
.boxInvestigacionImg {
  float: left;
  width: 75px;
  height: 60px;
  margin: 0;
  overflow: hidden;
}
.boxInvestigacionImg img {
  width: 75px;
  height: 60px;
  border: none;
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.boxInvestigacion:hover img {
  opacity: 0.7;
  transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -moz-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
}
.boxInvestigacionTxt {
  float: left;
  width: 510px;
  margin: 10px 15px;
}
.boxInvestigacionTxt h3 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}
#masInfo {
  width: 660px;
  float: left;
  margin: 0 0 20px;
}
.box-libros {
  color: #1d962d;
  float: left;
  margin: 0 0 30px;
  padding: 0;
  width: 660px;
  position: relative;
}
.box-libros .subcategoria {
  background-color: #9c9e9f;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  width: 280px;
  /*background-color: #ccc;*/

}
.box-libros .subcategoria a {
  color: white;
  font-weight: bold;
}
.boxSecondNews {
    float: left;
    height: 335px;
    margin: 20px 10px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 310px;
}
.boxSecondNews h3,
.boxInvestigacionTxt h3 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: left;
}
.boxSecondTxt {
  overflow: hidden;
  float: left;
}
.boxSecondTxt p {
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: left;
  line-height: 20px;
}
.boxSecondNewsImg {
  height: 190px;
  width: 310px;
  overflow: hidden;
  margin: 0 0 10px;
}
.boxSecondNews img {
  float: left;
  height: 190px;
  margin: 0;
  padding: 0;
  width: 310px;
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.boxSecondNews:hover img {
  opacity: 0.7;
  transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -moz-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
}
.boxSecondNews .entry-cat-bg {
  color: white;
  float: left;
  font-size: 11px;
  left: 5px;
  letter-spacing: 0.06em;
  margin-right: 12px;
  padding: 2px 5px;
  position: absolute;
  top: 165px;
}
.cat1-bg {
  background: none repeat scroll 0 0 #38a962;
}
.cat2-bg {
  background: none repeat scroll 0 0 #00632e;
}
.cat3-bg {
  background: none repeat scroll 0 0 #39a9dc;
}
.boxSecondNews h5 {
  color: #999999;
  float: left;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 205px;
  word-wrap: break-word;
}
.box-libros p {
  color: #888888;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px 0 0;
}
.libro-img {
  width: 290px;
  height: 90px;
}
.libro-info {
  width: 290px;
  height: 150px;
}
#salida-nota {
  background-color: white;
  color: #4b4d4d;
  font-size: 14px;
  padding: 15px;
  text-align: justify;
  width: 630px;
  position: relative;
  float: left;
}
.salidaBoxFoto {
  width: 630px;
  height: 400px;
}
.imgBoxFoto {
  width: 630px;
  height: 400px;
  overflow: hidden;
}
.imgBoxFoto img {
  width: 100%;
  height: 100%;
}
.bajadaBoxFoto {
  color: white;
  font-size: 14px;
  padding: 0 15px;
  text-align: justify;
  width: 600px;
  position: absolute;
  bottom: 5px;
}
.lefts {
  padding: 0px;
  margin: 5px 0px 5px 10px;
  float: left;
}
#salida-nota table {
  font-size: 10px;
}
#salida-nota p {
  padding: 5px 0px 5px 0px;
  line-height: 22px;
}
.redes-sociales {
  height: 20px;
  background-color: #f5f4f4;
  margin: 5px 20px 10px 20px;
  padding: 6px 10px 0px 10px;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  font-size: 10px;
}
.redes-sociales img {
  margin: 0px 5px 0px 5px;
  padding: 0px;
  border: 0px;
}
#salida-nota p {
  margin: 5px 0px 15px 0px;
  padding: 0px;
  font-weight: normal;
}
#salida-nota p:hover {
  margin: 5px 0px 15px 0px;
  padding: 0px;
  font-weight: normal;
}
#salida-nota a {
  color: #333333;
  font-weight: bold;
}
#salida-nota a:hover {
  color: #009933;
  font-weight: bold;
}
#salida-nota h1 {
  color: #3e3e3e;
  font-size: 22px;
  margin: 10px 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
#salida-nota h6 {
  padding: 0px;
  margin: 0px 0px 2px 0px;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
}
#salida-nota h4 {
  font-size: 13px;
  color: white;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  background-color: #4d4d4d;
}
.link-vermas {
  background: none repeat scroll 0 0 #58585a;
  color: white;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0 15px 20px;
  padding: 7px 10px;
  text-align: right;
  text-decoration: none;
  width: 610px;
}
#breves {
  float: left;
  margin: 0 15px 20px 15px;
  padding: 0px;
  width: 630px;
  background: #f1f3f3;
  border: #cccccc solid 1px;
}
#breves h1 {
  background: none repeat scroll 0 0 #333333;
  color: white;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 7px 10px;
  width: 610px;
}
#box-noticias-breves {
  border-bottom: 1px solid #cccccc;
  float: left;
  margin: 5px 15px;
  padding: 0;
  width: 600px;
}
#breves h2 {
  font-size: 12px;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
#breves p {
  font-size: 12px;
  color: #666666;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-weight: normal;
}
.sidebaritem {
  width: 290px;
  margin: 10px 0 20px 0;
  padding: 0;
  float: left;
  color: #1d962d;
  font-size: 11px;
  font-weight: bold;
}
.sidebaritem h3 {
  background: #333333;
  color: white;
  font-size: 14px;
  height: 22px;
  margin: 5px 0 12px;
  padding: 12px 0 8px 15px;
  width: 275px;
  text-transform: uppercase;
}
.sidebaritem ul {
  list-style: disc;
  margin: 0;
  padding: 0px 0px 0px 20px;
}
.sidebaritem li {
  float: left;
  padding: 5px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.sidebaritem li a {
  color: #333333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  text-decoration: none;
}
.sidebaritemli a:hover,
.sidebaritem ul li:hover a {
  color: #999999;
  text-decoration: none;
}
.box-frases {
  border-bottom: 1px solid #cccccc;
  float: left;
  margin: 5px;
  padding: 0 0 10px 0;
}
.box-frases h4 {
  font-size: 12px;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
.box-frases h4 span {
  font-size: 12px;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.banersitos {
  width: 239px;
  margin: 0px;
  padding: 0 3px;
  float: left;
}
.box-archivo {
  background-color: #f8f8f8;
  float: left;
  margin: 8px 0;
  padding: 20px;
  width: 590px;
}
.box-archivoImg {
  float: left;
  margin: 0;
  padding: 0px;
  width: 250px;
  height: 150px;
  overflow: hidden;
}
.box-archivoImg img {
  width: 250px;
  height: 150px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.box-archivo:hover img {
  opacity: 0.7;
  transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -moz-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
}
.box-archivoTxt {
  float: right;
  margin: 0;
  padding: 0px;
  width: 320px;
  height: 150px;
  overflow: hidden;
}
.box-archivoTxt p {
  color: #888888;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px 0 0;
}
.box-archivo h3 {
  font-size: 15px;
  color: #4d4d4d;
  margin: 5px 0px;
  padding: 0px;
  text-align: left;
}
.foto-box-archivo {
  float: left;
  padding: 0px 10px 0px 0px;
}
.box-archivo p {
  padding: 0px;
  margin: 0px;
}
.box-banners {
  width: 229px;
  float: left;
  /*background-color:#679328;*/
  padding: 5px 0 0 0;
}
.box-banners img {
  border: 0px;
}
#novedades {
  width: 680px;
  /*height:600px;*/
  float: left;
}
#novedades img {
  border: 0px;
}
#boxNews {
  float: left;
  margin: 20px 0 5px;
  width: 990px;
}


.boxOpinion {
    border-top: 1px dotted #333333;
    float: left;
    height: 130px;
    margin: 0 10px 20px;
    padding: 0;
    position: relative;
    width: 310px;
}
.boxOpinion-info {
    bottom: 10px;
    float: left;
    margin: 10px 0;
    overflow: hidden;
    width: 310px;
}
.boxOpinion h1 {
    color: #222222;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.boxOpinion h6 {
    color: #888888;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
}
.boxOpinion h4 {
    color: #333333;
    font-size: 11px;
    font-style: italic;
    margin: 0;
    padding: 5px 0;
}




.box {
  float: left;
  height: 200px;
  margin: 0 10px 20px;
  padding: 0;
  position: relative;
  width: 310px;
}
.box-img {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-img img {
  min-width: 310px;
  min-height: 200px;
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.box-img:hover img {
  opacity: 0.7;
  transform: scale(1.2) rotate(-5deg);
  -webkit-transform: scale(1.2) rotate(-5deg);
  -moz-transform: scale(1.2) rotate(-5deg);
  -ms-transform: scale(1.2) rotate(-5deg);
}


.box-info {
    background-color:#333;
    bottom: 10px;
    float: left;
    left: 10px;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 270px;
}
.box-more {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 180px;
}
.box p {
  line-height: 14px;
}
.box h1 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
}
.box h6 {
    color: #ccc;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
}
.box p {
  padding: 3px 0px 5px 0px;
  margin: 0px;
  font-size: 14px;
  color: #4d4d4d;
  float: left;
}
.box a {
  color: white;
  text-decoration: none;
}
.box a:hover {
  text-decoration: underline;
}
.encuestas {
  width: 196px;
  font-size: 12px;
  float: left;
  border-top: 3px solid #2f4f4e;
  background-color: #e6dddd;
  margin: 10px 10px 30px 10px;
  padding: 10px 2px 10px 2px;
}
.box h4 {
  background-color: #009933;
  color: white;
  font-size: 12px;
  margin: 128px 0 0 10px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  width: 53px;
}
#box-slide {
  width: 630px;
  margin: 10px 35px 15px 15px;
  /*height:600px;*/
  float: left;
}
#sidebar {
    background-color: #E0E0E0;
    float: right;
    margin: 0 10px 0 0;
    padding: 6px 0 0 10px;
    width: 300px;
}
#footer {
  height: 250px;
  margin: 0 auto;
  padding: 10px 5px 0;
  background: url('imagenes/footer.jpg') repeat-x;
}
#footer2 {
  width: 980px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}
#footer3 {
  background-color: #333333;
  border-top: 2px solid #222222;
  height: 30px;
  margin: -5px auto 0;
  padding: 10px 0;
  text-align: left;
}
#footer3Txt {
  margin: 0 auto;
  padding: 0;
  width: 680px;
}
#footer3Txt p {
  font-size: 14px;
  color: white;
  margin: 5px 0px;
  padding: 0px;
  font-weight: normal;
  text-align: left;
}
#footer3Txt a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
#footer3Icon {
  float: right;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 115px;
}
#footer2 h2 {
  font-size: 19px;
  color: #999999;
  margin: 5px 0px;
  padding: 0px;
  font-weight: bold;
  border-bottom: #999999 solid 1px;
}
#footer2 p {
  font-size: 14px;
  color: white;
  margin: 5px 0px;
  padding: 0px;
  font-weight: normal;
  text-align: right;
}
#footer2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer2 li {
  padding: 5px 0 0 0;
}
#footer2 li a {
  color: white;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  text-decoration: none;
}
#footer2 a:hover,
#footer2 ul li:hover a {
  color: #999999;
  text-decoration: none;
}
.col1 {
  float: left;
  margin: 0 25px 0 0;
  padding: 0 10px;
  width: 130px;
}
.col2 {
  float: left;
  margin: 0 25px 0 0;
  padding: 0 10px;
  width: 185px;
}
.col3 {
  float: left;
  margin: 0 95px 0 0;
  padding: 0 10px;
  width: 147px;
}
.col4 {
  float: left;
  margin: 0;
  padding: 0  10px;
  width: 290px;
}
.fan_box .connect_action .name {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}
#featured_slider ul {
  float: left;
  height: 100%;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#featured_slider ul li {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}
#featured_slider .img_right {
  margin-left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#featured_slider h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 610px;
}
#featured_slider a {
  color: white;
  text-decoration: none;
}
#featured_slider a:hover {
  color: #dfdfdf;
  text-decoration: none;
}

#featured_slider .content_left {
  float: left;
  color: #efefef;
  font-size: 13px;
  background-color: #333;
}
.www_slider {
  display: none;
}
#noticias-title {
  background: none repeat scroll 0 0 #58585a;
  color: white;
  float: left;
  margin: 0 15px 20px;
  padding: 10px 15px;
  width: 600px;
  font-size: 18px;
  height: 24px;
  font-family: Tahoma, Geneva, sans-serif;
}
.textwidget a {
  margin: 0 0 5px;
  font-size: 13px;
  color: #2c9c1a;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
}
.textwidget a:hover {
  color: #333333;
  text-decoration: underline;
}
