/*
Theme Name: WordPress Default
Theme URI: http://wordpress.org/
Description: The default WordPress theme based on the famous <a href="http://binarybonsai.com/kubrick/">Kubrick</a>.
Version: 1.6
Author: Michael Heilemann
Author URI: http://binarybonsai.com/
Tags: blue, custom header, fixed width, two columns, widgets

	Kubrick v1.5
	 http://binarybonsai.com/kubrick/

	This theme was designed and built by Michael Heilemann,
	whose blog you will find at http://binarybonsai.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/



/* Begin Typography & Colors */
body {
  background: url('imagenes/background.png') top repeat-x;
  background-color:#e4e4e4;
  margin:0px;padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}



h3 {padding:0px;margin:0px; }
h3 a {color:#fff;font-size:14px;text-decoration:none;}
h3 a:hover {text-decoration:underline;}

#contenedor-sitio {
  width:900px;
  margin:0 auto;
  padding:13px 0px 20px 0px;
  /*background-color:#fff;*/
}

#top {
  width:900px;
  /*margin:13px 0px 0px 0px;*/
  background:url('imagenes/fondo-top.png');
  background-color:#635f5f;
  height:83px;
  padding:0px;
}

              #buscador-top {
              width:894px;
              text-align:right;
              margin:6px 0px 0px 0px
              padding:0px 6px 10px 0px;
              height:35px;
              color:#fff;
              font-size:11px;
              /*background-color:#fff;*/
              }

              #buscador-top table {margin:0px;padding:0px;}



              
              #menu-top {
              width:500px;
              padding: 22px 0px 0px 00px;
              font-size:12px;
              color:#000;
              text-align:right;
              float:right;
              }

                  #menu-top ul {
                   list-style:none;
                   margin:0px;padding:0px;
                  }


                  #menu-top li {
                    float:left;
                    padding:0px 4px 0px 4px;
                    border-left:1px solid #000;
                    font-weight:bold;
                  }
                  



                  #menu-top a {text-decoration:none;color:#000;}
                  #menu-top a:hover {text-decoration:underline;}

                  #menu-top .nada {border-left:0;}



#animacion {
  width:900px;
  height:110px;
  background-color:#8bd4b8;
  border-bottom:4px solid #2f4f4e;

}

#menu-principal {
  width:900px;
  background:url('imagenes/fondo-menu.png');
  height:44px;
  font-size:11px;

}

   #menu-principal ul {
     list-style:none;
     margin:0px;padding:0px;
   }

   #menu-principal li {
     float:left;
     width:95px;
     background:url('imagenes/fondo-hover-menu.png');
     text-align:center;
     height:36px;
     padding:8px 1px 0px 2px;
     margin:0px 1px 0px 1px;
   }

    #menu-principal li a{
      color:#000;
      text-decoration:none;
   }
   

    #menu-principal li:hover{
      background:url('imagenes/fondo-hide-menu.png');
      text-decoration:none;
   }


#cuerpo-contenido {
 width:900px;
 margin:0px;
 padding:0px;
 background-color:#fff;
}

#cuerpo {
  width:650px;
   /*height:300px;*/
   margin:0px;
   padding:0px;
   /*background-color:#c3f153;*/
   float:left;

} 

   #trabajos {
     width:430px;
     /*background-color:#000;*/
     /*height:200px;*/
     float:left;
   }
   


      #trabajos ul {
      list-style:none;
      font-size:13px;
       background-color:#f1eded;
       border-bottom:4px solid #2f4f4e;
       margin:0px 10px 10px 10px;
       padding:0px 0px 20px 0px;
      }

      #trabajos li {
        border-left:3px solid #c7c7c7;
        margin:10px 10px 10px 10px;
        padding:10px;
        background-color:#fff;
          color:#000;
      }


      #trabajos li a {color:#000;font-weight:bold;text-decoration:none;}
      #trabajos li a:hover {color:#000;font-weight:bold;text-decoration:underline;}

       #trabajos li:hover {
        border-left:3px solid #4f4e4e;color:#000;

      }

#salida-nota {
  font-size:12px;
  padding:10px 15px 10px 15px;
}

#salida-nota img {
  float:left;
  margin:12px 10px 10px 0px;
  border:1px solid #ccc;
  padding:2px;
}

.box-archivo {
  width:580px;
  border:1px dotted #ccc;
  background-color:#f1eded;
  margin: 8px 0px 8px 0px;
  padding: 10px 20px 10px 20px;
}

.box-banners {
  width:234px;
  float:left;
  /*background-color:#679328;*/
  padding:10px 4px 10px 4px;
}

.box-libros {
  width:410px;
  background:url('imagenes/box-libro.png') top no-repeat;
  background-color:#2f4f4e;
  margin:0px 10px 10px 10px;
  padding:0px 0px 5px 0px;
  border-bottom:3px solid #6ab6b3;
  float:left;
  color:#fff;
}

  .box-libros .subcategoria {
   text-align:right;
   font-size:10px;
   text-transform: uppercase;
   padding:2px 10px 0px 0px;
   margin:0px 0px 10px 0px;
   width:400px;
   /*background-color: #ccc;*/
  }

  .box-libros .subcategoria a {color:#fff;}


  .box-libros img {
   float:left; margin:2px 15px 4px 5px;padding:0px;
  }
  .box-libros p{font-size:12px; padding:0px 10px 0px 0px;color:#fff;margin:0px;}





   #novedades {
     width:220px;
     background-color:#f1eded;
     /*height:600px;*/
     float:left;
   }
    

     .box img {float:left; padding:5px 8px 0px 0px;margin:0px;}
     .box {width:200px; margin:10px 10px 10px 10px;padding:0px;border-bottom:2px solid #fff;float:left;}
     .box h1 {width:200px; padding:0px;margin:0px 0px 2px 0px;font-size:13px; font-weight:bold;}
     .box p{padding:3px 0px 10px 0px;margin:0px;font-size:11px;float:left;}
     .box a {color:#111;text-decoration:none;}
     .box a:hover {text-decoration:underline;}
     .encuestas {width:196px;float:left;font-size:12px;background-color:#e6dddd;margin:10px 10px 30px 10px;padding:10px 2px 10px 2px;}



#sidebar {
  width:242px;
  height:300px;
  margin:0px;
  padding:0px;
  border-left:8px solid #fff;
  background:url('imagenes/fondo-sidebar.png') bottom no-repeat;
  background-color:#d7d7d7;
  float:left;
}



#footer {
 width:890px;
 margin:0px;
 padding:10px 5px 10px 5px;
 border-top:1px solid #6e6c6c;
 background-color:#ccc;
 font-size:10px;
 color:#000;
 text-align:center;
}

