<!-- Name: Un resumen de los eventos del 2012  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
<li><img src="%URL%images/enero_1.jpg" alt="ENERO" title="ENERO" id="wows1_0"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="%URL%images/enero_1.jpg" title="ENERO"><img src="%URL%tooltips/enero_1.jpg" alt="ENERO"/>1</a>
<a href="%URL%images/enero_2.jpg" title="ENERO">2</a>
<a href="%URL%images/febrero_1.jpg" title="FEBRERO">3</a>
<a href="%URL%images/imagen_febrero_2.jpg" title="FEBRERO">4</a>
<a href="%URL%images/imagen_marzo.jpg" title="MARZO">5</a>
<a href="%URL%images/imagen_abril.jpg" title="ABRIL">6</a>
<a href="%URL%images/imagen_abril_2.jpg" title="ABRIL">7</a>
<a href="%URL%images/imagen_mayo_1.jpg" title="MAYO">8</a>
<a href="%URL%images/imagen_mayo_2.jpg" title="MAYO">9</a>
<a href="%URL%images/imagen_junio_1.jpg" title="JUNIO">10</a>
<a href="%URL%images/imagen_junio_2.jpg" title="JUNIO">11</a>
<a href="%URL%images/imagen_julio_1.jpg" title="JULIO">12</a>
<a href="%URL%images/imagen_julio_2.jpg" title="JULIO">13</a>
<a href="%URL%images/agosto_1.jpg" title="AGOSTO">14</a>
<a href="%URL%images/imgen_agosto_2.jpg" title="AGOSTO">15</a>
<a href="%URL%images/imagenes_septiembre_1.jpg" title="SEPTIEMBRE">16</a>
<a href="%URL%images/imagen_septiembre_2.jpg" title="SEPTIEMBRE">17</a>
<a href="%URL%images/imagen_octubre_1.jpg" title="OCTUBRE">18</a>
<a href="%URL%images/imagen_octubre_2.jpg" title="OCTUBRE">19</a>
<a href="%URL%images/noviembre_1.jpg" title="NOVIEMBRE">20</a>
<a href="%URL%images/noviembre_2.jpg" title="NOVIEMBRE">21</a>
</div></div>
<a class="wsl" href="http://wowslider.com">jQuery Slideshow Fullscreen by WOWSlider.com v2.6</a>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
