/*****
Theme Name: MH Magazine
Theme URI: https://www.mhthemes.com/themes/mh/magazine/
Author: MH Themes
Author URI: https://www.mhthemes.com/
Description: MH Magazine is a clean, modern and fully responsive premium magazine WordPress theme for blogs, online magazines, news websites and other editorial projects. The theme includes useful page templates, several custom widgets and advanced theme options including colorpickers with unlimited colors to create your own color scheme.
Version: 3.8.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mh-magazine
Domain Path: /languages/
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, footer-widgets, theme-options, threaded-comments, full-width-template, post-formats, translation-ready, rtl-language-support, blog, entertainment, news
*****/

/***** CSS Reset based on the work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ v2.0 *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/***** Structure *****/

html { font-size: 100%; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; }
body { font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-size: 0.875rem; line-height: 1.6; background: #f7f7f7; word-wrap: break-word; }

.padding-0 {padding:0 !important;}

.mh-container, .mh-container-inner { width: 100%; /*max-width: 1080px;*/ margin: 0 auto; position: relative; }
.mh-container-outer {margin: 0 auto;}
.mh-wide-layout .mh-container-outer { margin: 0 auto; box-shadow: none; }
.mh-wrapper { padding: 25px; background: #fff; }
.mh-content { width: 65.83%; overflow: hidden; }
.mh-sidebar { width: 31.66%; float: left; }
.mh-two-sb .mh-container { max-width: 1431px; }
.mh-two-sb .mh-main { float: left; width: 74.584%; max-width: 1030px; }
.mh-two-sb .mh-sidebar-2 { float: right; width: 23.606%; margin-left: 1.81%; }
.mh-two-sb .mh-footer-area { margin-left: 1.81%; }
.mh-two-sb .mh-footer-4-cols { width: 23.6425%; }
.mh-two-sb .mh-footer-3-cols { width: 32.1266%; }
.mh-two-sb .mh-footer-2-cols { width: 49.095%; }
.mh-disable-sb .mh-content { width: 100%; }
.mh-disable-sb .mh-home-content { width: 65.83%; overflow: hidden; }
.mh-margin-left { margin-left: 2.5%; }
.mh-margin-right { margin-right: 2.5%; }
.mh-right-sb #main-content { float: left; margin-right: 2.5%; }
.mh-left-sb #main-content { float: right; margin-left: 2.5%; }
.mh-home-area-3, .mh-home-area-4, .mh-home-area-4-2 { width:100%; }
.page-template-template-homepage .mh-wrapper { padding-bottom: 0; }

#menu-item-12805 {background:#89363d;padding:0;}
#menu-item-12806 {background:#4c4459;padding:0;}
#menu-item-12807 {background:#958e50;padding:0;}
#menu-item-12804 {background:#386a67;padding:0;}

.icon-title { background: #898989;color: #fff;border-radius: 15px;padding: 6px;font-size: 0.9rem;margin-right: 5px;}


#menu-item-18016, #menu-item-18017, #menu-item-18018, #menu-item-18019 {float:none;display:inline-block;transition:.6s;}

#menu-item-18016:hover, #menu-item-18017:hover, #menu-item-18018:hover, #menu-item-18019:hover {background:transparent;opacity:.6;transition:.6s;text-decoration:none;}

.right-nav ul {text-align:right;}
#menu-item-18016 a, #menu-item-18017 a, #menu-item-18018 a, #menu-item-18019 a {color: #4b4b4a;font-weight: bold;font-size: 13px;}
#menu-item-18016 a:hover, #menu-item-18017 a:hover, #menu-item-18018 a:hover, #menu-item-18019 a:hover {text-decoration:none;}

.margin-none {margin:0 !important;}

.container {max-width:100% !important;padding:0 !important;}

#nav_menu-7 #menu-menu-superior-1 li {max-width: 100% !important;flex: 0 0 100%;padding:0;}
#nav_menu-7 #menu-menu-superior-1 li a {color:#000;font-size: 0.92rem;text-transform: uppercase;}

.redes-foot {margin-top:20px;}

.redes-foot a {color: #fff !important;background: #000;border-radius: 100%;display: inline-flex;justify-content: center;align-items: center;width:35px;height:35px;}
.redes-foot a i {font-size:1.1rem;}

.banner-suscripcion {background:url(../mh-magazine/images/img-subscripcion.png);background-size:cover;background-position:center;height:16rem;flex-direction:column;}
.banner-suscripcion p {font-size: 1.1rem;color: #fff;font-weight: 200;}
.banner-suscripcion h3 {color:#fff;}
.banner-suscripcion a {display: inline-block;border-radius: 30px;border: 1px #fff solid;color: #fff;padding: 10px 25px;margin-top: 23px;transition:.6s;}
.banner-suscripcion a:hover {opacity:.6;transition:.6s;text-decoration:none;color:#fff;}

.header-nav-custom li {margin: 5px 0 15px;display: inline-block;font-size: 0.9rem;font-weight: 600;color:#7a7a7a;}
.header-nav-custom li:first-child:before {content:"";padding: 0;}
.header-nav-custom li:before {content:"/";padding: 0 5px;}
.header-nav-custom a {color:#7a7a7a;transition:.6s;}
.header-nav-custom a:hover {opacity:.6;transition:.6s;text-decoration:none;}
.header-nav-custom .primary {font-weight:bold;text-transform:uppercase;color:#000 !important;}


.border-post {width: 100%;margin: 0 15px 0;border-width: 2px;}

.top-30 {top:30px;}
.relation-notes {position:fixed;right:0;}
.relation-notes h6 {border-bottom: 3px #b4b2b2 solid;padding: 0 0 10px;font-size: 1.1rem;margin: 0 0 40px;}
.relation-notes article {border-style: none none dashed none;border-color: rgba(212, 212, 212, 0.78);border-width: 1.3px;padding: 0 0 15px;margin-bottom: 5px;}
.relation-notes .mh-posts-grid-col:last-child article {border:none;}
.relation-notes h3 {font-size: 1.1rem;}
.relation-notes h3 a:hover {text-decoration:none;}
.relation-notes p {font-size: 0.921rem;margin-top: 5px;color: #b3b0b0;}


.banner-lateral-post {background:url("../mh-magazine/images/insscripcion-Columna.png");background-size:cover;background-position:center;height: 24rem;padding: 35px;}
.banner-lateral-post h3 {color: #406390;font-weight: bold;font-size: 1.4rem;}
.banner-lateral-post p {color: #406390;font-weight: normal;font-size: 1.3rem;line-height: 23px;margin-top: 15px;}
.btn-suscr-post {transition:.6s;background: #406390;color: #fff;text-align: center;display: inline-block;margin-left: auto;margin-top: auto;margin-bottom: auto;border-radius: 25px;padding: 10px 30px;font-size: 1.1rem;font-weight: 500;}
.btn-suscr-post:hover {text-decoration:none;opacity:.6;transition:.6s;}



.revista h3 {border-bottom:3px #d4d4d4 solid;padding-bottom: 6px;font-weight: bold;}
.revista h2 {background: #d4d4d4;color: #fff;padding: 6px;font-size: 1.2rem;margin:0 0 10px !important;}

.revista p {color: #000;font-weight: bold;font-size: 14px;margin: 0 !important;}
.revista h6 {color: #b0aeae;font-size: 15px;font-weight: 600;margin-top: 5px;display: inline-block;}

.revista a {color: #406390 !important;font-weight: 700 !important;margin-left: 1px;transition:.6s;}
.revista a:hover {opacity:.6;transition:.6s;text-decoration:none;}


.documentos_de_trabajo h3 {display:inline-block;font-size:1rem;margin:0 !important;}
.documentos_de_trabajo p {display:inline-block;font-size:1rem;margin:0 !important;}
.documentos_de_trabajo .row {margin-bottom:20px;}
.margin-d {margin: 1px 0;}

.documentos_de_trabajo .border-r {border-right:1px #000 solid;}
.documentos_de_trabajo a {background: #406390;transition:.6s;padding: 19px;border-radius: 30px;color: #fff !important;font-size: 0.96rem;font-weight: 600;text-transform: uppercase;display: flex;justify-content: center;align-items: center;}
.documentos_de_trabajo a:hover {opacity:.6;transition:.6s;text-decoration:none !important;}
.documentos_de_trabajo a i {font-weight: 100;font-size: 1.8rem;margin-right: 10px;}


.box-autor h3 {border-bottom:1px #000 solid;font-size: 0.8rem;display:inline-block;margin:0 0 10px !important;}
.enlaces a {transition:.6s;color: #fff !important;background: #898989;text-align: center;padding: 5px 6px;border-radius: 100%;display: inline-flex;justify-content: center;align-items: center;font-size: 0.7rem;}
.web, .enlaces {display:inline-block;}
.web {margin-left: 8px;color: #898989;font-size: 0.9rem;}

.web a {margin-left:5px;transition:.6s;}


.web a:hover, .enlaces a:hover {opacity:.6;transition:.6s;text-decoration:none !important;}

.desc-aut {padding:0 !important;}
.desc-aut p {padding: 5px 0 10px;margin: 0;font-size: 0.78rem;line-height: 15px;color: #898989;font-weight: 600;}

.theme {display: inline-block;color: #fff;padding: 5px 25px;font-size: 0.7rem;margin-bottom: 20px;}

/***** Animation *****/

.mh-navigation li, .mh-social-icons li a, .mh-social-icons li:hover .fa-mh-social:before, .flex-direction-nav a, .tagcloud a, .entry-tags li, .mh-share-button, #infinite-handle span, .mh-posts-stacked-overlay { -webkit-transition: 0.25s ease-out; -moz-transition: 0.25s ease-out; transition: 0.25s ease-out; }

/***** Columns *****/

.mh-row [class*='mh-col-']:first-child { margin: 0; }
[class*='mh-col-'] { float: left; margin-left: 2.5%; overflow: hidden; }
.mh-col-1-1 { width: 100%; }
.mh-col-1-2 { width: 48.75%; }
.mh-col-1-3 { width: 31.66%; }
.mh-col-2-3 { width: 65.83%; }
.mh-col-1-4 { width: 23.12%; }
.mh-col-3-4 { width: 74.37%; }
.mh-col-1-5 { width: 18.00%; }
.mh-col-1-6 { width: 14.58%; }
.mh-col-1-7 { width: 12.14%; }
.mh-col-1-8 { width: 10.31%; }
.clear { clear: both; }
.clearfix { display: block; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }

/***** Typography *****/

h1 { font-size: 32px; font-size: 2rem; }
h2 { font-size: 24px; font-size: 1.5rem; }
h3 { font-size: 20px; font-size: 1.25rem; }
h4 { font-size: 18px; font-size: 1.125rem; }
h5 { font-size: 16px; font-size: 1rem; }
h6 { font-size: 14px; font-size: 0.875rem; }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #000; line-height: 1.3; font-weight: 700; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 6px; font-size: 0.375rem; }
big { font-size: 20px; font-size: 1.25rem; }
pre, code { font-family: "Consolas", Courier New, Courier, monospace; margin-bottom: 20px; margin-bottom: 1.25rem; }
pre { padding: 20px; border: 1px solid #ebebeb; white-space: pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; white-space: -webkit-pre-wrap; }
kbd { padding: 0px 6px; padding: 0rem 0.375rem; background: #f5f5f5; border: 1px solid #aaa; border-radius: 0.1875em; -moz-border-radius: 0.1875em; -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; -webkit-border-radius: 0.1875em; -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; text-shadow: 0 0.0625em 0 #fff; }
blockquote { display: block; font-size: 15px; font-size: 0.9375rem; line-height: 1.6; font-style: italic; color: #666; padding: 5px 0 5px 15px; border-left: 5px solid #e64946; }
sup { vertical-align: super; font-size: 10px; font-size: 0.625rem; }
sub { vertical-align: sub; font-size: 10px; font-size: 0.625rem; }
abbr, acronym { border-bottom: 1px dashed; cursor: help; }
cite { color: #9a9b97; }
q { font-style: italic; }
address { font-family: "Courier new"; line-height: 1.5; margin-bottom: 20px; margin-bottom: 1.25rem; }
a { color: #000; text-decoration: none; }
a:hover { color: #e64946; }

/***** Accessibility *****/

.screen-reader-text { position: absolute; top: -9999rem; left: -9999rem; }

/***** Font Awesome Social Icons *****/

.mh-social-icons ul { list-style-type: none; text-align: center; }
.mh-social-icons ul li { display: inline-block; }
.mh-social-icons li a .fa-mh-social:before { content: '\f09e'; }
.mh-social-icons li a[href*="deviantart.com"] .fa-mh-social:before { content: '\f1bd'; }
.mh-social-icons li a[href*="behance.net"] .fa-mh-social:before { content: '\f1b4'; }
.mh-social-icons li a[href*="dribbble.com"] .fa-mh-social:before { content: '\f17d'; }
.mh-social-icons li a[href*="facebook.com"] .fa-mh-social:before { content: '\f09a'; }
.mh-social-icons li a[href*="flickr.com"] .fa-mh-social:before { content: '\f16e'; }
.mh-social-icons li a[href*="plus.google.com"] .fa-mh-social:before { content: '\f0d5'; }
.mh-social-icons li a[href*="instagram.com"] .fa-mh-social:before { content: '\f16d'; }
.mh-social-icons li a[href*="linkedin.com"] .fa-mh-social:before { content: '\f0e1'; }
.mh-social-icons li a[href*="mailto"] .fa-mh-social:before { content: '\f0e0'; }
.mh-social-icons li a[href*="pinterest.com"] .fa-mh-social:before { content: '\f0d2'; }
.mh-social-icons li a[href*="reddit.com"] .fa-mh-social:before { content: '\f1a1'; }
.mh-social-icons li a[href*="soundcloud.com"] .fa-mh-social:before { content: '\f1be'; }
.mh-social-icons li a[href*="spotify.com"] .fa-mh-social:before { content: '\f1bc'; }
.mh-social-icons li a[href*="steamcommunity.com"] .fa-mh-social:before { content: '\f1b6'; }
.mh-social-icons li a[href*="tumblr.com"] .fa-mh-social:before { content: '\f173'; }
.mh-social-icons li a[href*="twitch.tv"] .fa-mh-social:before { content: '\f1e8'; }
.mh-social-icons li a[href*="twitter.com"] .fa-mh-social:before { content: '\f099'; }
.mh-social-icons li a[href*="vk.com"] .fa-mh-social:before { content: '\f189'; }
.mh-social-icons li a[href*="vimeo.com"] .fa-mh-social:before { content: '\f194'; }
.mh-social-icons li a[href*="xing.com"] .fa-mh-social:before { content: '\f168'; }
.mh-social-icons li a[href*="youtube.com"] .fa-mh-social:before { content: '\f167'; }

/***** Lists *****/

.entry-content ul { list-style: square; }
.entry-content ol { list-style: decimal; }
.entry-content ul, .entry-content ol { margin: 0 0 20px 40px; }
.entry-content ul ul, .entry-content ol ol { margin: 0 0 0 40px; }
.entry-content li { margin-bottom: 5px; }
dl { margin: 0 0 10px 20px; }
dt, dd { display: list-item; }
dt { list-style-type: square; font-weight: bold; }
dd { list-style-type: circle; margin-left: 20px; }
select { max-width: 100%; }

/***** Header *****/

.mh-preheader, .mh-wide-layout .mh-subheader { background: #e64946; }
.mh-subheader { background: #f5f5f5; }
.mh-header-bar-content { overflow: visible; }
.mh-header-bar-top-right, .mh-header-bar-bottom-right { float: right; }
.mh-header { background: #fff; }
.mh-site-logo { padding: 20px; overflow: hidden; }
.mh-header-text { margin: 5px 0; text-transform: uppercase; }
.mh-header-title { font-size: 32px; font-size: 2rem; line-height: 1; }
.mh-header-tagline { display: inline-block; font-size: 14px; font-size: 0.875rem; line-height: 1; color: #e64946; padding-top: 10px; margin-top: 10px; border-top: 1px solid #e5e5e5; }
.mh-header-transparent .mh-container-outer { box-shadow: none; }
.mh-header-transparent .mh-header { background: none; }
.mh-header-transparent.mh-boxed-layout .mh-site-logo { padding: 20px 0; }

/***** Header - Search *****/

.mh-header-search { float: right; padding: 3px 0; }
.mh-header-search .search-form { float: right; margin-right: 25px; }
.mh-header-search .search-form .search-field { min-width: 200px; height: 29px; line-height: 29px; padding: 0 10px; }
.mh-header-search .search-form .search-field:hover { min-width: 250px; }
.mh-header-search-top .search-form { margin-right: 20px; }
.mh-header-search-top .search-form  .search-field, .mh-wide-layout .mh-header-search .search-field { border-color: #fff; }

/***** Header - Date *****/

.mh-header-date { font-size: 11px; line-height: 35px; padding: 0 20px; text-transform: uppercase; }
.mh-header-date-top, .mh-wide-layout .mh-header-date-bottom { color: #fff; }
.mh-header-date-bottom { color: #000; }
.mh-header-bar-top-right .mh-header-date-top, .mh-header-bar-bottom-right .mh-header-date-bottom { text-align: right; }

/***** Header - News Ticker Top *****/

.mh-ticker-top { font-size: 11px; height: 35px; }
.mh-ticker-title-top { padding: 0 10px 0 20px; }
#mh-ticker-loop-top { height: 35px; overflow: hidden; }
.mh-ticker-item-top a, .mh-ticker-item-top a:hover { display: block; color: #fff; }

/***** Header - News Ticker Bottom *****/

.mh-ticker-bottom { font-size: 12px; height: 35px; }
.mh-ticker-title-bottom { padding: 0 20px; }
#mh-ticker-loop-bottom { height: 35px; overflow: hidden; }
.mh-ticker-item-bottom { padding: 0 20px; }
.mh-ticker-item-bottom a, .mh-ticker-item-bottom a:hover { display: block; color: #2a2a2a; }

/***** Header - News Ticker Global *****/

.mh-ticker-title { float: left; font-weight: 700; color: #fff; line-height: 35px; background: #e64946; text-align: center; text-transform: uppercase; }
.mh-ticker-title .fa { margin-left: 10px; }
.mh-ticker-item { line-height: 34px; }
.mh-ticker-item-date, .mh-ticker-item-cat .fa { margin-right: 5px; }
.mh-ticker-item-cat { margin-left: 5px; text-transform: uppercase; }
.mh-wide-layout .mh-ticker-item { padding: 0 20px 0 0; }
.mh-wide-layout .mh-ticker-item a { color: #fff; }

/***** Navigation *****/

.mh-navigation { text-transform: uppercase; }
.mh-navigation li { float: left;position: relative;font-size: 10px;padding: 0; }
.mh-navigation li:hover { background: #2a2a2a; }
.mh-navigation li a { display: block; color: #fff; }
.mh-navigation ul li:hover > ul { display: block; background: #2a2a2a; z-index: 9999; }
.mh-navigation ul ul { display: none; position: absolute; }
.mh-navigation ul ul li { width: 100%; min-width: 16em; }
.mh-navigation ul ul ul { left: 100%; top: 0; }
.mh-navigation .menu-item-has-children > a:after { font-family: 'FontAwesome'; font-weight: 400; line-height: 1; content: '\f107'; margin-left: 5px; }
.mh-navigation .sub-menu .menu-item-has-children > a:after { content: '\f105'; margin-left: 10px; }
.mh-navigation img { vertical-align: inherit; }

/***** Header Navigation - Top *****/

.mh-header-nav-top li:hover a { color: #fff; }

/***** Header Navigation - Bottom *****/

.mh-header-nav-bottom li a { color: #000; }
.mh-header-nav-bottom li:hover a, .mh-wide-layout .mh-header-nav-bottom li a, .mh-wide-layout .mh-header-nav-bottom li:hover a { color: #fff; }

/***** Header Navigation - Global *****/

.mh-header-nav { overflow: visible; }
.mh-header-nav li a { line-height: 35px; padding: 0 20px; }
.mh-header-nav ul ul li { width: 160px; }

/***** Main Navigation *****/

.mh-main-nav-wrap { background: #2a2a2a; }
.mh-main-nav li { font-size: 14px; font-weight: 700; }
.mh-main-nav li:hover { background: #e64946; }
.mh-main-nav li:hover > a { color: #fff; }
.mh-main-nav li a { padding: 10px 20px; border-left: 1px solid rgba(255, 255, 255, 0.1);font-size: 0.7rem;text-align: center;font-weight: 400;}
.mh-main-nav li:first-child a, .mh-main-nav .sub-menu li a { border: none; }

/***** Extra Navigation (below main navigation) *****/

.mh-extra-nav-wrap { background: #fff; }
.mh-extra-nav-bg { background: #ddd; background: rgba(42, 42, 42, 0.2); }
.mh-extra-nav li:hover a { color: #fff; }
.mh-extra-nav li a { color: #2a2a2a;letter-spacing: 0.2px;padding: 10px 0;text-align: center;font-weight: bold;}

/***** Footer Navigation *****/

.mh-footer-nav { background: #e64946; }
.mh-footer-nav li a { line-height: 1; padding: 10px 20px; }
.mh-footer-nav ul { float: right; }

/***** Social Navigation - Top *****/

.mh-social-nav-top .fa-mh-social, .mh-social-nav-top li:hover .fa-mh-social { color: #fff; }

/***** Social Navigation - Bottom *****/

.mh-social-nav-bottom .fa-mh-social { color: #000; }
.mh-social-nav-bottom li:hover .fa-mh-social, .mh-wide-layout .mh-social-nav-bottom .fa-mh-social { color: #fff; }

/***** Social Navigation - Global *****/

.mh-social-nav { float: right; }
.mh-social-nav ul { text-align: right; }
.mh-social-nav li a { display: block; min-width: 35px; font-size: 16px; line-height: 35px; text-align: center; }
.mh-social-nav li a:hover { background: #2a2a2a; }

/***** SlickNav Mobile Menu Core Style *****/

.slicknav_btn, .slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em; line-height: 1.125em; margin: 5px 5px 6px; text-decoration: none; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #222; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
.slicknav_menu { *zoom: 1; font-size: 16px; font-size: 1rem; background: #4c4c4c; padding: 5px; }
.slicknav_menu, .slicknav_menu * { box-sizing: border-box; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; color: #fff; font-weight: 700; text-shadow: 0 1px 3px #000; }
.slicknav_menu .slicknav_icon { float: left; width: 1.125em; height: 0.875em; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_icon:before { position: absolute; display: block; width: 1.125em; height: 0.875em; content: ""; background: 0 0; }
.slicknav_menu .slicknav_no-text { margin: 0; }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; background-color: #fff; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both; }
.slicknav_nav { clear: both; color: #fff; margin: 0; padding: 0; font-size: 0.875em; list-style: none; overflow: hidden; }
.slicknav_nav ul { list-style: none; overflow: hidden; padding: 0; margin: 0 0 0 20px; }
.slicknav_nav li, .slicknav_nav ul { display: block; }
.slicknav_nav a { display: block; padding: 5px 10px; margin: 2px 5px; text-decoration: none; color: #fff; }
.slicknav_nav a:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #222; }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item a { display: inline; padding: 0; margin: 0; }
.slicknav_nav .slicknav_row { display: block; padding: 5px 10px; margin: 2px 5px; }
.slicknav_nav .slicknav_row:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #fff; }
.slicknav_nav .slicknav_txtnode { margin-left: 15px; }
.slicknav_nav .slicknav_parent-link a { display: inline; padding: 0; margin: 0; }
.slicknav_brand { float: left; color: #fff; font-size: 18px; line-height: 30px; padding: 7px 12px; height: 44px; }

/***** SlickNav Custom Style *****/

.slicknav_btn { background: #e64946; }
.slicknav_menu { padding: 0; border-bottom: 1px solid #2a2a2a; background: #e64946; display: none; }
.slicknav_menu .slicknav_menutxt { text-shadow: none; display: none; }
.slicknav_menu .slicknav_icon-bar { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.slicknav_nav { font-size: 16px; font-size: 1rem; font-weight: 600; margin-bottom: 20px; }
.slicknav_nav ul { padding: 20px 0 0 15px; margin: 0; border-top: 1px solid #2a2a2a; }
.slicknav_nav ul ul { border: 0; padding: 0 0 0 15px; }
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover { color: #fff; background: #e64946; }
.mh-main-nav-wrap .slicknav_menu .slicknav_icon-bar { background: #fff; }
.mh-main-nav-wrap .slicknav_nav a, .mh-main-nav-wrap .slicknav_menu a:hover { color: #fff; }
.mh-main-nav-wrap .slicknav_btn, .mh-main-nav-wrap .slicknav_menu, .mh-main-nav-wrap .slicknav_nav .slicknav_item:hover, .mh-main-nav-wrap .slicknav_nav a:hover { background: transparent; }
.mh-main-nav-wrap .slicknav_nav ul { border-top: 1px solid #e64946; }
.mh-main-nav-wrap .slicknav_nav ul ul { border: none; }

/***** Breadcrumb Navigation *****/

.mh-breadcrumb { padding: 5px 10px; border-top: 1px dotted #ebebeb; border-bottom: 1px dotted #ebebeb; }
.mh-breadcrumb, .mh-breadcrumb a { font-size: 13px; font-size: 0.8125rem; color: #979797; margin-bottom: 20px; margin-bottom: 1.25rem; }
.mh-breadcrumb a { font-weight: 700; text-transform: uppercase; }
.mh-breadcrumb a:hover { color: #e64946; }
.mh-breadcrumb-delimiter { margin: 0 15px; }

/***** FlexSlider Icon Fonts *****/

@font-face { font-family: 'flexslider-icon'; src: url('fonts/flexslider-icon.eot'); src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg'); font-weight: normal; font-style: normal; }

/***** FlexSlider Browser Resets *****/

.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus { outline: none; }
.slides, .slides > li, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flex-pauseplay span { text-transform: capitalize; }

/***** FlexSlider Base Styles *****/

.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { width: 100%; display: block; }
.flexslider .slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .flexslider .slides { display: block; }
* html .flexslider .slides { height: 1%; }
.no-js .flexslider .slides > li:first-child { display: block; }

/***** FlexSlider Default Styles *****/

.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.flexslider .slides img { height: auto; }
.flex-direction-nav { *height: 0; }
.flex-direction-nav a  { text-decoration: none; display: block; width: 30px; height: 30px; margin: -12px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter: alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 30px; line-height: 1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }
.flex-control-nav { position: absolute; width: 100%; bottom: 6px; text-align: center; z-index: 999; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; height: auto; display: block; opacity: .7; cursor: pointer; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

/***** Posts / Pages *****/

.entry-header, .page-header { margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-header .entry-title { padding-bottom: 10px; padding-bottom: 0.625rem }
.page-title { font-size: 28px; font-size: 1.75rem; }
.mh-subheading-top { border-bottom: 3px solid #2a2a2a; }
.mh-subheading { display: inline-block; font-size: 13px; font-size: 0.8125rem; color: #fff; padding: 5px 10px; margin-bottom: 10px; margin-bottom: 0.625rem; background: #e64946; text-transform: uppercase; }
.entry-thumbnail { max-width: 1030px; margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-thumbnail img { width: 100%; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content p, .entry-content blockquote, .entry-content table, .entry-content .flex-vid, .entry-content .mh-row, .entry-content .mh-video-container { margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-content blockquote p:last-child { margin: 0; }
.entry-content a { font-weight: 600; color: #e64946; }
.entry-content a:hover { color: #e64946; text-decoration: underline; }
.entry-tags { font-size: 12px; font-size: 0.75rem; color: #fff; line-height: 1; margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-tags li { float: left; font-weight: 700; margin: 0 6px 6px 0; margin: 0 0.375rem 0.375rem 0; background: #2a2a2a; text-transform: uppercase; }
.entry-tags li:hover { background: #e64946; }
.entry-tags a, .entry-tags a:hover { display: block; color: #fff; padding: 10px 15px; }
.entry-tags .fa { float: left; padding: 10px; margin-right: 6px; background: #e64946; }
.sticky { }

/***** Post Meta Data *****/

.mh-meta { font-size: 13px; font-size: 0.8125rem; }
.mh-meta, .mh-meta a { color: #979797; }
.mh-meta a:hover { color: #e64946; }
.mh-footer .mh-meta, .mh-footer .mh-meta a, .mh-footer .mh-meta a:hover { color: #fff; }
.mh-meta span { margin-right: 10px; }
.mh-meta .fa { margin-right: 5px; }
.entry-meta { margin-top: 5px; }
.entry-header .entry-meta { margin-top: 10px; margin-top: 0.625rem; padding: 5px 10px; border-top: 1px dotted #ebebeb; border-bottom: 1px dotted #ebebeb; }

/***** Author Box *****/

.mh-author-box { line-height: 1.5; padding: 25px 0; margin-bottom: 25px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.mh-author-box-avatar { float: left; padding: 3px; margin-right: 25px; border: 1px solid #ebebeb; }
.mh-author-box-header { margin-bottom: 10px; }
.mh-author-box-name { font-size: 16px; font-size: 1rem; font-weight: 700; }
.mh-author-box-postcount:before { font-family: 'FontAwesome'; content: '\f105'; padding: 0 5px; }
.mh-author-box-contact { overflow: hidden; }
.mh-author-box-contact a { display: inline-block; font-size: 18px; line-height: 1; margin-top: 15px; padding-left: 15px; opacity: 0.7; }
.mh-author-box-contact a:first-child { padding-left: 0; }
.mh-author-box-contact a:hover { opacity: 1; }
.author .mh-author-box { margin-top: 25px; }

/***** Related Content *****/

.mh-related-content { margin-bottom: 25px; }
.mh-related-content .mh-posts-grid-title { font-size: 16px; font-size: 1rem; }
.mh-related-content .mh-posts-grid-caption, .mh-related-content .mh-meta, .mh-related-content .mh-posts-grid-excerpt { display: none; }

/***** Sitemap Template *****/

.mh-sitemap .page-title { margin-bottom: 20px; margin-bottom: 1.25rem; }
.mh-sitemap-list { margin-bottom: 20px; margin-bottom: 1.25rem; margin-left: 0; list-style: none; }
.mh-sitemap-list > li { border-bottom: 1px dotted #ebebeb; }
.mh-sitemap-list li a:first-child { display: inline-block; padding: 5px 0; }
.mh-sitemap-list li:first-child a { padding-top: 0; }
.mh-sitemap-list .children li { border-top: 1px dotted #ebebeb; }
.mh-sitemap-list .children li a { padding: 5px 0; }
.mh-sitemap-list .children li a:first-child { padding-top: 5px; }

/***** Loop / Archives / Search Results *****/

.mh-loop-description { padding: 20px 0; margin-top: 20px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.mh-loop-description p:last-child { margin: 0; }
.mh-loop .mh-posts-grid .mh-col-1-2 { width: 48.24%; margin-left: 3.52%; }
.mh-loop .mh-posts-grid .mh-col-1-2:first-child { margin: 0; }
.mh-loop-grid { margin-top: 20px; }
.mh-loop-ad { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-loop-pagination { margin-top: 20px; }
.mh-loop-hide-caption .mh-loop .mh-image-caption { display: none; }

/***** Post Format Icons *****/

.mh-thumb-icon { display: block; position: relative; width: 100%; height: 100%; overflow: hidden; }
.format-image .mh-thumb-icon:after, .format-gallery .mh-thumb-icon:after, .format-video .mh-thumb-icon:after, .format-audio .mh-thumb-icon:after { position: absolute; right: 5%; bottom: 5%; font-family: "FontAwesome"; font-size: 15px; line-height: 1; color: #fff; padding: 10px; border: 1px solid #fff; border-radius: 100%; z-index: 999; background: rgba(0, 0, 0, 0.4); }
.format-image .mh-thumb-icon-small:after, .format-gallery .mh-thumb-icon-small:after, .format-video .mh-thumb-icon-small:after, .format-audio .mh-thumb-icon-small:after { font-size: 10px; padding: 5px; }
.format-image .mh-thumb-icon:after { content: '\f030'; }
.format-gallery .mh-thumb-icon:after { content: '\f03e'; }
.format-video .mh-thumb-icon:after { content: '\f04b'; padding: 10px 12px; }
.format-audio .mh-thumb-icon:after { content: '\f028'; padding: 10px 11px; }
.format-video .mh-thumb-icon-small:after, .format-audio .mh-thumb-icon-small:after { padding: 5px 6px; }

/***** Pagination *****/

.post .pagination { padding-bottom: 20px; padding-bottom: 1.25rem; }
.page-numbers { display: inline-block; font-weight: 700; color: #000; padding: 10px 15px; background: #f5f5f5; }
.page-numbers:hover, .mh-loop-pagination .current, .mh-comments-pagination .current, a:hover .pagelink { color: #fff; background: #e64946; }
.page-numbers a { display: block; }
.pagelink { display: inline-block; font-weight: 700; color: #fff; padding: 10px 15px; background: #e64946; }
a .pagelink { color: #000; background: #f5f5f5; }

/***** Post / Attachment Navigation *****/

.mh-post-nav { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #ebebeb; }
.mh-post-nav span { display: block; font-weight: 700; line-height: 1; margin-bottom: 5px; text-transform: uppercase; overflow: hidden; }
.mh-post-nav p { font-size: 13px; font-size: 0.8125rem; overflow: hidden; }
.mh-post-nav-next { float: right; text-align: right; }
.mh-post-nav-prev img { float: left; margin-right: 15px; }
.mh-post-nav-next img { float: right; margin-left: 15px; }
.mh-post-nav-prev span:before, .mh-post-nav-next span:after { font-family: 'FontAwesome'; font-weight: 400; }
.mh-post-nav-prev span:before { content: '\f100'; margin-right: 5px; }
.mh-post-nav-next span:after { content: '\f101'; margin-left: 5px; }

/***** Footer *****/

.mh-footer { font-size: 13px; font-size: 0.8125rem; color: #fff; padding: 25px 25px 0; background:#d6d9da; }
.mh-footer a, .mh-footer a:hover { color: #f7f7f7; }
.mh-copyright-wrap { padding: 10px 25px; border-top: 3px solid rgba(255, 255, 255, 0.3); background: #2a2a2a; }
.mh-copyright { font-size: 12px; font-size: 0.75rem; color: #999; }
.mh-copyright a, .mh-copyright a:hover { color: #fff; }

/***** Images / Video *****/

img { max-width: 100%; width: auto\9; /* ie8 */ height: auto; vertical-align: bottom; }
iframe, embed, object, video { max-width: 100%; }
.entry-content .alignnone { display: block; margin: 20px 0; margin: 1.25rem 0; }
.entry-content .aligncenter { display: block; margin: 20px auto; margin: 1.25rem auto; }
.entry-content .alignleft { display: inline; float: left; margin: 5px 20px 20px 0; margin: 0.3125rem 1.25rem 1.25rem 0; }
.entry-content .alignright { display: inline; float: right; margin: 5px 0 20px 20px; margin: 0.3125rem 0 1.25rem 1.25rem; }
.wp-caption { max-width: 100%; }
.wp-caption-text { display: block; font-size: 12px; font-size: 0.75rem; font-weight: 700; line-height: 1.4; color: #000; margin-top: 5px; }
.alignnone .wp-caption-text, .aligncenter .wp-caption-text, .alignleft .wp-caption-text, .alignright .wp-caption-text { margin-bottom: 0; }

/***** Gallery *****/

.gallery { margin-bottom: 20px; }
.gallery:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
.gallery-item { float: left; margin: 0 4px 4px 0; overflow: hidden; position: relative; }
.gallery-columns-1 .gallery-item { max-width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); }
.gallery-columns-3 .gallery-item { max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px); }
.gallery-columns-4 .gallery-item { max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px); }
.gallery-columns-5 .gallery-item { max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px); }
.gallery-columns-6 .gallery-item { max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px); }
.gallery-columns-7 .gallery-item { max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px); }
.gallery-columns-8 .gallery-item { max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px); }
.gallery-columns-9 .gallery-item { max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px); }
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0; }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1), .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1), .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) { clear: left; }
.gallery-caption { background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 12px; line-height: 1.5; margin: 0; max-height: 50%; opacity: 0; padding: 6px 8px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%; }
.gallery-caption:before { content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%; }
.gallery-item:hover .gallery-caption { opacity: 1; }
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption { display: none; }

/***** Tables *****/

table { width: 100%; border-left: 1px solid #ebebeb; border-top: 1px solid #ebebeb; }
td, th { padding: 5px 10px; border-right: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
th { font-weight: 600; }
.mh-footer-widget table, .mh-footer-widget td, .mh-footer-widget th { border-color: rgba(255, 255, 255, 0.3); }

/***** Comments *****/

.mh-comment-list { margin-bottom: 25px; list-style: none; }
.mh-comment-list .children { margin-left: 25px; list-style: none; }
.mh-comment-list .comment-body { margin-bottom: 25px; border-bottom: 1px solid #ebebeb; }
.mh-comment-list .comment-meta { color: #2a2a2a; margin-bottom: 20px; }
.mh-comment-list .comment-meta a { font-weight: 400; color: #2a2a2a; }
.mh-comment-list .comment-meta a:hover { color: #e64946; text-decoration: none; }
.mh-comment-list .avatar { float: left; width: 50px; height: 50px; padding: 2px; margin: 0 15px 0 0; border: 1px solid #f5f5f5; vertical-align: middle; }
.mh-comment-list .fn a { font-weight: 700; }
.mh-comment-list .comment-metadata { font-size: 10px; font-size: 0.625rem; margin-top: 5px; text-transform: uppercase; }
.mh-comment-list .comment-metadata:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
.mh-comment-list .comment-reply-link { display: inline-block; font-size: 13px; font-size: 0.8125rem; font-weight: 700; color: #979797; line-height: 1; text-transform: uppercase; margin-bottom: 25px; }
.mh-comment-list .comment-reply-link:hover { text-decoration: none; }
.mh-comment-list .comment-reply-link:before { font-family: 'FontAwesome'; font-weight: 400; color: #e64946; content: '\f112'; margin-right: 5px; }
.mh-comment-list .comment-awaiting-moderation { color: #e64946; margin-top: 20px; }
.bypostauthor .fn:after { font-family: 'FontAwesome'; font-weight: 400; color: #e64946; content: '\f006'; margin-left: 5px; }
.mh-comments-pagination { margin-bottom: 20px; }
.mh-ping-list { margin-bottom: 20px; }
.mh-ping-list .mh-ping-item { padding: 10px 0; border-bottom: 1px solid #ebebeb; }
.mh-ping-list .mh-ping-item:first-child { border-top: 1px solid #ebebeb; }
.mh-ping-list .mh-ping-item .fa { margin-right: 15px; }
.mh-ping-list .mh-ping-item a { color: #2a2a2a; }
.mh-ping-list .mh-ping-item a:hover { color: #e64946; text-decoration: none; }

/***** Comment Form *****/

#respond .comment-reply-title { font-size: 24px; font-size: 1.5rem; line-height: 1; margin-bottom: 20px; margin-bottom: 1.25rem; }
#respond .logged-in-as a { color: #2a2a2a; }
#respond #cancel-comment-reply-link { font-size: 12px; font-size: 0.75rem; color: #2a2a2a; margin-left: 10px; }
#respond #cancel-comment-reply-link:hover, #respond .logged-in-as a:hover { color: #e64946; text-decoration: none; }
#respond #cancel-comment-reply-link:before { font-family: 'FontAwesome'; font-weight: 400; color: #e64946; content: '\f05e'; margin-right: 5px; }
#commentform p { margin-bottom: 10px; }
#commentform .form-submit { margin: 25px 0; }
.required { color: #e64946; }

/***** Forms *****/

input { font-size: 12px; padding: 5px; border: 1px solid rgba(0, 0, 0, 0.1); vertical-align: middle; background: #f5f5f5; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
input[type=text], input[type=email], input[type=tel], input[type=url] { width: 60%; }
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover { border: 1px solid #e64946; }
input[type=submit] { display: inline-block; min-width: 150px; font-weight: 700; color: #fff; padding: 10px 15px; background: #e64946; cursor: pointer; text-transform: uppercase; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; border: 0; -webkit-appearance: none; }
input[type=submit]:hover { background: #2a2a2a; }
textarea { width: 96%; line-height: 1.5; padding: 5px; border: 1px solid rgba(0, 0, 0, 0.1); background: #f5f5f5; }

/***** Contact Form 7 *****/

.wpcf7-form { font-size: 14px; font-size: 0.875rem; margin-bottom: 20px; margin-bottom: 1.25rem; }
.wpcf7-form p { margin-bottom: 15px; margin-bottom: 0.9375rem;}
.wpcf7-text { padding: 8px; }
.wpcf7-textarea { width: 86%; padding: 10px; }
div.wpcf7-response-output { margin: 20px 0 15px; }

/***** Searchform *****/

.search-form input { font-size: 11px; line-height: 1; color: #1f1e1e; text-transform: uppercase; }
.search-form .search-submit { display: none; }
.search-form .search-field { position: relative; padding: 10px; margin: 0; border: 1px solid #ebebeb; background: #fff; cursor: pointer; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
.search-form .search-field:active, .search-form .search-field:focus { cursor: text; }
.mh-widget .search-form { display: block; margin: 0 auto; padding: 5%; background: #f5f5f5; }
.mh-widget .search-form .search-field { display: block; margin: 0 auto; width: 90%; }
.mh-footer-widgets .search-form input { width: 100%; }

/***** Multisite Registration Form *****/

#signup-content { padding: 25px; background: #fff; }
#signup-content .mu_register { width: 100%; }
.mu_register .mu_alert { display: block; margin-bottom: 25px; }
.mu_register form { max-width: 500px; }
.mu_register input { box-sizing: border-box; }
.mu_register .submit { margin-top: 25px; }
.lead-in { margin-top: 25px; }
.lead-in a { font-weight: 700; }

/***** Share Buttons *****/

.mh-share-buttons { margin-bottom: 25px; overflow: hidden; }
.entry-content .mh-share-buttons a, .entry-content .mh-share-buttons a:hover { color: #fff; }
.mh-share-buttons .fa { display: inline-block; font-size: 20px; }
.mh-share-button { float: left; width: 20%; font-size: 16px; padding: 5px 0; text-align: center; text-transform: uppercase; opacity: 0.7; filter: alpha(opacity=70); }
.mh-share-button:hover { opacity: 1; filter: alpha(opacity=100); }
.mh-facebook span { background: #3e64ad; }
.mh-twitter span { background: #6aadd1; }
.mh-pinterest span { background: #de010d; }
.mh-googleplus span { background: #cd3627; }
.mh-email span { background: #ccc; }

/***** Back to Top Button *****/

.mh-back-to-top { display: none; position: fixed; right: 25px; bottom: 25px; padding: 5px 8px 8px; color: #fff; background: #e64946; z-index: 999; }
.mh-back-to-top:hover { color: #fff; }
.mh-back-to-top .fa { font-size: 24px; }

/***** Jetpack Infinite Scroll *****/

.infinite-scroll .mh-loop-pagination { display: none; }
.infinite-wrap { margin-top: 20px; }
#infinite-handle { margin-top: 20px; text-align: center; }
#infinite-handle span { display: inline-block; font-size: 14px; font-size: 0.875rem; font-weight: 700; color: #fff; padding: 10px 15px; background: #e64946; text-transform: uppercase; }
#infinite-handle span:hover { background: #2a2a2a; }
.infinite-loader .spinner { margin: 20px auto 0; }

/***** Shortcodes *****/

.mh-ad-label { font-size: 10px; font-size: 0.625rem; }
.mh-footer .mh-ad-label { color: #fff; }
.mh-dropcap { float: left; position: relative; font-size: 80px; font-size: 5rem; font-weight: 600; line-height: 0.8; color: #e64946; top: 0; margin-right: 6px; margin-right: 0.375rem; text-transform: uppercase; }
.mh-highlight { padding: 2px 5px; padding: 0.125rem 0.3125rem; }
.mh-box { position: relative; overflow: hidden; padding: 20px 20px 0; padding: 1.25rem 1.25rem 0; margin-bottom: 20px; margin-bottom: 1.25rem; border: 1px solid #ebebeb; }
.mh-box ul, .mh-box ol { margin: 0 0 20px 20px; margin: 0 0 1.25rem 1.25rem; }
.mh-box.normal { background: #f7f7f7; }
.mh-box.alert { background: #ffe8e8; }
.mh-box.success { background: #e5ffbc; }
.mh-box.infobox { background: #feffcb; }
.mh-box.event { background: #dfebff; }
.mh-hide-box { position: absolute; top: 0; right: 8px; z-index: 999; cursor: pointer; color: #ddd; }
.no-js .mh-hide-box { display: none; }
[id*='mh-testimonials-'] ul, [id*='mh-images-'] ul { list-style: none; margin: 0; }
.mh-testimonial, .mh-image { margin-bottom: 20px; margin-bottom: 1.25rem; }
.mh-testimonial { position: relative; font-style: italic; background: #f9f9f9; padding: 10px 10px 10px 60px; padding: 0.625rem 0.625rem 0.625rem 3.75rem; border: 1px solid #ebebeb; }
.mh-testimonial:before { position: absolute; top: 0; left: 10px; content: "\201C"; font-family: Georgia, serif; font-size: 100px; font-size: 6.25rem; line-height: 1; color: #999; font-style: normal; }
.mh-testimonial-author { font-style: normal; color: #9a9b97; }
.mh-flex-vid { position: relative; padding-bottom: 55%; padding-top: 8px; height: 0; overflow: hidden; }
.mh-flex-vid iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/***** Widgets *****/

.textwidget {color: #4b4b4a;font-size: 0.92rem;font-weight: 300;line-height: 26px;}
.textwidget a {color:#1f8ec3;transition:.6s;font-weight:bold;}
.textwidget a:hover {text-decoration:none;opacity:.6;transition:.6s;color:inherit;}

.mh-widget, .mh-footer-widget { margin-bottom: 25px; overflow: hidden; }
.mh-widget-title { position: relative; font-size: 14px; font-size: 0.875rem; margin-bottom: 20px; margin-bottom: 1.25rem; text-transform: uppercase; }
.mh-widget-layout1 .mh-widget-title { font-size: 16px; font-size: 1rem; padding-bottom: 5px; border-bottom: 1px solid #e64946; }
.mh-widget-layout1 .mh-footer-widget-title { font-size: 14px; font-size: 0.875rem; }
.mh-widget-layout1 .mh-widget-title.mh-footer-widget-title, .mh-widget-layout1 .mh-widget-title.mh-footer-widget-title a { color: #000; }
.mh-widget-layout2 .mh-widget-title, .mh-widget-layout4 .mh-widget-title-inner { color: #fff; padding: 10px 15px; background: #e64946; }
.mh-widget-layout2 .mh-widget-title a, .mh-widget-layout4 .mh-widget-title a, .mh-widget-layout5 .mh-widget-title a, .mh-widget-layout6 .mh-widget-title a { color: #fff; }
.mh-widget-layout3 .mh-widget-title { color: #000; padding: 10px 25px 10px 15px; border-left: 10px solid #e64946; background: #f5f5f5; }
.mh-widget-layout3 .mh-widget-title a { color: #000; }
.mh-widget-layout3 .mh-footer-widget-title { padding: 0 0 5px 0; border-bottom: 3px solid #e64946; border-left: none; background: none; }
.mh-widget-layout3 .mh-widget-title.mh-footer-widget-title, .mh-widget-layout3 .mh-widget-title.mh-footer-widget-title a { color: #fff; background: none; }
.mh-widget-layout4 .mh-widget-title { background: #e64946; background: rgba(230, 73, 70, 0.6); }
.mh-widget-layout4 .mh-widget-title-inner { display: inline-block; }
.mh-widget-layout4 .mh-footer-widget-title { background: #e64946; }
.mh-widget-layout5 .mh-widget-title { color: #fff; border-bottom: 3px solid #e64946; }
.mh-widget-layout5 .mh-widget-title-inner { display: inline-block; padding: 5px 15px 2px; background: #e64946; }
.mh-widget-layout6 .mh-widget-title { font-weight: 600; color: #fff; padding: 2px 0; background: #e64946; }
.mh-widget-layout6 .mh-widget-title-inner { display: block; text-align: center; padding: 5px 0; border-top: 2px dashed rgba(255, 255, 255, 0.3); border-bottom: 2px dashed rgba(255, 255, 255, 0.3); }
.mh-widget-layout7 .mh-widget-title { text-align: center; padding: 10px; border: 2px solid #ebebeb; }
.mh-widget-layout7 .mh-footer-widget-title { border-color: rgba(255, 255, 255, 0.3); }
.mh-widget-layout7 .mh-widget-title.mh-footer-widget-title, .mh-widget-layout7 .mh-widget-title.mh-footer-widget-title a { color: #fff; }
.mh-widget-layout8 .mh-widget-title { font-size: 16px; font-size: 1rem; text-align: center; }
.mh-widget-layout8 .mh-widget-title:after { position: absolute; top: 50%; left: 0; right: 0; content: ""; border-bottom: 2px solid #e64946; }
.mh-widget-layout8 .mh-widget-title-inner { position: relative; display: inline-block; padding: 0 10px; background: #fff; z-index: 999; }
.mh-widget-layout8 .mh-widget-title .mh-footer-widget-title-inner { background: #2a2a2a; }
.mh-widget-layout8 .mh-widget-title.mh-footer-widget-title, .mh-widget-layout8 .mh-widget-title.mh-footer-widget-title a { color: #fff; }

/***** Widget Areas (Advertising) *****/

.mh-ad-spot { display: block; padding: 10px; text-align: center; background: #f5f5f5; }
.mh-header-1 { margin: 25px 0 0; }
.mh-wide-layout .mh-header-1 { margin: 25px 0; }
.mh-header-1 .mh-ad-spot { padding: 0; background: none; }
.mh-header-2 { margin: 20px 20px 20px 0; text-align: right; overflow: hidden; }
.mh-header-transparent.mh-boxed-layout .mh-header-2 { margin: 20px 0; }
.mh-header-widget-2-full .mh-header-2 { margin: 20px; text-align: center; }
.mh-footer-widget .mh-ad-spot { background: rgba(255, 255, 255, 0.1); }
.mh-content-ad { float: left; max-width: 100%; margin: 0 20px 10px 0; }

/***** MH Custom Widgets - General *****/

.mh-image-caption { position: absolute; top: 0; font-size: 12px; font-size: 0.75rem; font-weight: 700; color: #fff; padding: 5px 10px; background: #e64946; text-transform: uppercase; }

/***** MH Slider Widget - Layout 1 *****/

.mh-slider-layout1 .flex-control-nav { bottom: 10px; }
.mh-slider-layout1 .flex-control-nav li { margin: 0 10px 0 0; }
.mh-slider-layout1 .flex-control-paging li a { width: 15px; height: 15px; border: 1px solid #2a2a2a; background: #fff; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.mh-slider-layout1 .flex-control-paging li a:hover { background: #f5f5f5; }
.mh-slider-layout1 .flex-control-paging li a.flex-active { background: #e64946; border: 1px solid #fff; }
.mh-slider-layout1 .mh-slider-category { display: none; }
.mh-slider-layout1 .mh-slider-caption { width: 350px; max-width: 100%; top: 0; right: 0; border-bottom: 3px solid #e64946; }
.mh-widget-col-1 .mh-slider-layout1 .flex-control-nav { width: auto; top: 15px; right: 10px; bottom: auto; }

/***** MH Slider Widget - Layout 2 *****/

.mh-slider-layout2 .flex-control-nav { position: relative; height: 12px; bottom: 0; background: #666; text-align: left; }
.mh-slider-layout2 .flex-control-nav li { width: 20%; margin: 0; }
.mh-slider-layout2 .flex-control-paging li a { width: 100%; height: 100%; background: #666; border: none; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.mh-slider-layout2 .flex-control-paging li a:hover { background: #aaa; }
.mh-slider-layout2 .flex-control-paging li a.flex-active { background: #e64946; border: none; }
.mh-slider-layout2 .mh-slider-caption { width: 100%; bottom: 0; }
.mh-home-wide .mh-slider-layout2 .mh-slider-category { font-size: 14px; font-size: 0.875rem; }

/***** MH Slider Widget - Layout 3 *****/

.mh-slider-layout3 .mh-slider-category { display: none; }
.mh-slider-layout3 .mh-slider-caption { width: 350px; top: 0; bottom: 0; }

/***** MH Slider Widget - Layout 4 *****/

.mh-slider-layout4 .mh-slider-category { display: none; }
.mh-slider-layout4 .mh-slider-caption { max-width: 50%; bottom: 0; left: 0; color: #000; background: #fff; }
.mh-slider-layout4 .mh-slider-caption a, .mh-slider-layout4 .mh-slider-caption a:hover { color: #000; }
.mh-slider-layout4 .mh-slider-content { padding: 20px 25px 0 0; }
.mh-widget-col-1 .mh-slider-layout4 .mh-slider-caption { background: #fff; }
.mh-widget-col-1 .mh-slider-layout4 .mh-slider-content { padding: 10px 0 0 0; }
.mh-footer-widget .mh-slider-layout4 .mh-slider-content { padding: 20px; }

/***** MH Slider Widget - Layout 5 *****/

.mh-slider-layout5 .mh-slider-category { top: 20px; left: 25px; }
.mh-slider-layout5 .mh-slider-caption { bottom: 25px; right: 25px; left: 25px; }
.mh-widget-col-1 .mh-slider-layout5 .mh-slider-category { display: none; }
.mh-widget-col-2 .mh-slider-layout5 .mh-slider-category { top: 15px; left: 15px; }
.mh-widget-col-2 .mh-slider-layout5 .mh-slider-caption { bottom: 15px; right: 15px; left: 15px; }

/***** MH Slider Widget - Layout Shared Navigation *****/

.mh-slider-layout3 .flex-control-nav, .mh-slider-layout4 .flex-control-nav, .mh-slider-layout5 .flex-control-nav { width: auto; top: 20px; right: 15px; bottom: auto; }
.mh-slider-layout3 .flex-control-paging li a, .mh-slider-layout4 .flex-control-paging li a, .mh-slider-layout5 .flex-control-paging li a { width: 20px; height: 20px; background: #fff; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.mh-slider-layout3 .flex-control-paging li a:hover, .mh-slider-layout4 .flex-control-paging li a:hover, .mh-slider-layout5 .flex-control-paging li a:hover { background: #f5f5f5; }
.mh-slider-layout3 .flex-control-paging li a.flex-active, .mh-slider-layout4 .flex-control-paging li a.flex-active, .mh-slider-layout5 .flex-control-paging li a.flex-active { background: #e64946; }
.mh-widget-col-1 .mh-slider-layout3 .flex-control-nav, .mh-widget-col-2 .mh-slider-layout3 .flex-control-nav, .mh-widget-col-1 .mh-slider-layout4 .flex-control-nav, .mh-widget-col-2 .mh-slider-layout4 .flex-control-nav, .mh-widget-col-1 .mh-slider-layout5 .flex-control-nav, .mh-widget-col-2 .mh-slider-layout5 .flex-control-nav { top: 15px; right: 10px; }

/***** MH Slider Widget - Global Styles *****/

.mh-slider-item { position: relative; overflow: hidden; }
.mh-slider-normal { width: 678px; max-width: 100%; overflow: hidden; }
.mh-slider-caption { position: absolute; color: #fff; background: #2a2a2a; background: rgba(42, 42, 42, 0.8); }
.mh-slider-caption a, .mh-slider-caption a:hover { color: #fff; }
.mh-slider-content { padding: 25px; overflow: hidden; }
.mh-slider-content .mh-excerpt { margin-top: 10px; margin-top: 0.625rem; }
.mh-widget-col-1 .mh-slider-caption { position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 100%; max-width: 100%; margin: 0; background: #2a2a2a; }
.mh-widget-col-1 .mh-slider-title { font-size: 20px; font-size: 1.25rem; }
#mh-mobile .mh-footer-widget .mh-slider-caption { background: rgba(255, 255, 255, 0.1); }

/***** MH Slider Widget - Temporary Fix for 1px Offset FlexSlider Bug *****/

.mh-slider-layout3 .slides img, .mh-slider-layout4 .slides img, .mh-slider-layout5 .slides img { width: 99.999%; }

/***** MH Carousel Widget - Layout 1 *****/

.mh-carousel-layout1 { padding: 15px; background: #2a2a2a; border-top: 3px solid #e64946; border-bottom: 3px solid #e64946; }
.mh-carousel-layout1 .mh-carousel-caption { position: absolute; top: 0; color: #fff; padding: 5px 10px; background: #e64946; }
.mh-carousel-layout1 .mh-carousel-title { display: none; }
.mh-carousel-layout1 .flex-direction-nav a { color: #e64946; text-shadow: none; }
.mh-carousel-layout1.flexslider:hover .flex-prev { left: 20px; opacity: 1; }
.mh-carousel-layout1.flexslider:hover .flex-next { right: 20px; opacity: 1; }
.mh-footer-widget .mh-carousel-layout1 { background: rgba(255, 255, 255, 0.1); }

/***** MH Carousel Widget - Layout 2 *****/

.mh-carousel-layout2 { padding: 0 15px; }
.mh-carousel-layout2 .mh-carousel-caption { color: #e64946; margin-top: 5px; }
.mh-carousel-layout2 .mh-carousel-title { font-size: 16px; font-size: 1rem; }
.mh-carousel-layout2 .flex-direction-nav { display: none; }

/***** MH Carousel Widget - Global Styles *****/

.mh-carousel-widget { direction: ltr; }
.mh-carousel-widget li { width: 188px; height: auto; margin-right: 15px; }
.mh-carousel-item { position: relative; }
.mh-carousel-caption { font-size: 11px; font-weight: 700; text-transform: uppercase; }
.no-js .mh_magazine_carousel { display: none; }

/***** MH Spotlight Widget *****/

.mh-spotlight-widget { color: #fff; padding: 25px; border-bottom: 3px solid #e64946; background: #2a2a2a; }
.mh-spotlight-widget a, .mh-spotlight-widget a:hover, .mh-spotlight-widget .mh-spotlight-meta, .mh-spotlight-widget .mh-spotlight-meta a, .mh-spotlight-widget .mh-spotlight-meta a:hover { color: #fff; }
.mh-spotlight-thumb { position: relative; margin-bottom: 10px; margin-bottom: 0.625rem; overflow: hidden; }
.mh-spotlight-thumb img { width: 100%; }
.mh-spotlight-caption { top: 10%; padding: 10px 15px; }
.mh-spotlight-meta, .mh-spotlight-widget .mh-excerpt { margin-top: 10px; }
.mh-spotlight-meta { font-style: italic; }
.mh-spotlight-meta .fa { margin: 0 5px 0 10px; }
.mh-widget-col-1 .mh-spotlight-title { font-size: 20px; font-size: 1.25rem; }
.mh-footer-widget .mh-spotlight-widget { background: rgba(255, 255, 255, 0.1); }
.mh-footer-widget .mh-spotlight-widget .mh-spotlight-meta a, .mh-footer-widget .mh-spotlight-widget .mh-spotlight-meta a:hover { color: #fff; }

/***** MH Custom Posts Widget / MH Custom Pages Widget *****/

.mh-custom-posts-item { padding: 20px 0; border-bottom: 1px dotted #ebebeb; }
.mh-custom-posts-item:first-child { padding-top: 0; }
.mh-custom-posts-thumb-xl { position: relative; margin-bottom: 10px; margin-bottom: 0.625rem; }
.mh-custom-posts-thumb-xl img { width: 100%; max-width: 100%; }
.mh-custom-posts-thumb { float: left; margin-right: 15px; }
.mh-custom-posts-small-title { font-weight: 700; line-height: 1.3; }
.mh-custom-posts-small .mh-meta { font-size: 11px; font-size: 0.6875rem; }
.mh-custom-posts-header { overflow: hidden; }
.mh-custom-posts-widget .mh-excerpt { padding-top: 10px; padding-top: 0.625rem; overflow: hidden; }
.mh-custom-posts-no-image .mh-custom-posts-small { padding: 5px 0; padding: 0.3125rem 0; }
.mh-custom-posts-no-image .mh-custom-posts-small:first-child { padding-top: 0; }
.mh-home-wide .mh-custom-posts-thumb-xl, .mh-widget-col-2 .mh-custom-posts-thumb-xl { float: left; max-width: 235px; margin: 0 20px 0 0; margin: 0 1.25rem 0 0; }
.mh-footer-widget .mh-custom-posts-item { border-color: rgba(255, 255, 255, 0.3); }
.mh-footer-widget .mh-custom-posts-small-title { font-weight: 400; }

/***** MH Posts Large Widget *****/

.mh-posts-large-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-posts-large-item:first-child { margin-top: 0; }
.mh-posts-large-thumb { position: relative; margin-bottom: 10px; }
.mh-posts-large-thumb img { width: 100%; }
.mh-posts-large-hide-caption .mh-posts-large-caption { display: none; }
.mh-posts-large-title { font-size: 24px; font-size: 1.5rem; }
.mh-posts-large-excerpt { margin-top: 10px; }
.mh-widget-col-1 .mh-posts-large-title { font-size: 20px; font-size: 1.25rem; }
.mh-footer-widget .mh-posts-large-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Posts List Widget *****/

.mh-posts-list-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-posts-list-item:first-child { margin-top: 0; }
.mh-posts-list-thumb { position: relative; float: left; margin-right: 20px; }
.mh-posts-list-thumb img { width: 100%; max-width: 235px; }
.mh-posts-list-hide-caption .mh-posts-list-caption { display: none; }
.mh-posts-list-header { margin-bottom: 10px; }
.mh-posts-list-excerpt { overflow: hidden; }
.mh-widget-col-1 .mh-posts-list-thumb { float: none; margin: 0 0 10px 0; text-align: center; }
.mh-widget-col-1 .mh-posts-list-thumb img { max-width: 326px; }
.mh-widget-col-1 .mh-posts-list-title { margin-bottom: 5px; }
.mh-footer-widget .mh-posts-list-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Posts Grid Widget *****/

.mh-posts-grid { padding-bottom: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-posts-grid-thumb { position: relative; margin-bottom: 10px; }
.mh-posts-grid-thumb img { width: 100%; max-width: 326px; }
.mh-posts-grid-hide-caption .mh-posts-grid-caption { display: none; }
.mh-posts-grid-title { font-size: 20px; font-size: 1.25rem; }
.mh-posts-grid-hide-meta .mh-meta { display: none; }
.mh-posts-grid-excerpt { margin-top: 10px; }
.mh-posts-grid-hide-excerpt .mh-posts-grid-excerpt { display: none; }
.mh-posts-grid-more { margin-top: 20px; }
.mh-widget-col-1 .mh-posts-grid { padding: 0; border: none; }
.mh-widget-col-1 .mh-posts-grid-col { width: 100%; padding-bottom: 20px; margin: 20px 0 0; border-bottom: 1px dotted #ebebeb; }
.mh-widget-col-1 .mh-posts-grid-col:first-child { margin-top: 0; }
.mh-widget-col-2 .mh-posts-grid-title { font-size: 16px; font-size: 1rem; }

/***** MH Posts Stacked Widget *****/

.mh-posts-stacked-wrap { float: left; width: 50%; overflow: hidden; }
.mh-posts-stacked-large, .mh-posts-stacked-small { position: relative; }
.mh-posts-stacked-large:after, .mh-posts-stacked-small:after { display: block; padding-top: 75%; content: ' '; }
.mh-posts-stacked-content { position: absolute; width: 100%; height: 100%; overflow: hidden; }
.mh-posts-stacked-thumb img { width: 100%; }
.mh-posts-stacked-thumb:hover .mh-posts-stacked-overlay { background: none; }
.mh-posts-stacked-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.2); }
.mh-posts-stacked-overlay-small { border-left: 1px solid #fff; }
.mh-posts-stacked-overlay-last { border-top: 1px solid #fff; }
.mh-posts-stacked-item { position: absolute; bottom: 25px; left: 25px; padding-right: 25px; }
.mh-posts-stacked-title { background: #2a2a2a; background: rgba(42, 42, 42, 0.8); }
.mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
.mh-posts-stacked-title-small { font-size: 14px; padding: 2px 5px; }
.mh-posts-stacked-title a, .mh-posts-stacked-title a:hover, .mh-posts-stacked-item .mh-meta a, .mh-posts-stacked-item .mh-meta a:hover { color: #fff; }
.mh-posts-stacked-item .mh-meta { display: inline-block; font-size: 10px; font-weight: 700; color: #fff; padding: 1px 5px; background: #e64946; text-transform: uppercase; }
.mh-posts-stacked-item span { margin: 0; }
.mh-posts-stacked-item .entry-meta-date { margin-right: 5px; }
.mh-widget-col-1 .mh-posts-stacked-wrap { float: none; width: 100%; }
.mh-widget-col-1 .mh-posts-stacked-title { font-size: 16px; padding: 2px 5px; }
.mh-widget-col-1 .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
.mh-widget-col-2 .mh-posts-stacked-large, .mh-widget-col-2 .mh-posts-stacked-columns { float: none; width: 100%; }
.mh-widget-col-2 .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
.mh-widget-col-2 .mh-posts-stacked-small:nth-child(odd) .mh-posts-stacked-overlay-small { border-right: 1px solid #fff; }
.mh-widget-col-2 .mh-posts-stacked-title-small { font-size: 16px; }
#mh-mobile .mh-footer-widget .mh-posts-stacked-overlay { border-color: #2a2a2a; }

/***** MH Posts Horizontal Widget *****/

.mh-posts-horizontal-widget { padding: 25px; background: #f5f5f5; }
.mh-posts-horizontal-widget-more { padding-top: 0; }
.mh-posts-horizontal-thumb { float: left; max-width: 80px; margin-right: 10px; }
.mh-posts-horizontal-title { font-size: 14px; overflow: hidden; }
.mh-widget-col-1 .mh-posts-horizontal-item { float: none; width: 100%; margin: 25px 0 0; }
.mh-widget-col-1 .mh-posts-horizontal-item:first-child { margin: 0; }
.mh-widget-col-2 .mh-posts-horizontal-thumb { float: none; margin-bottom: 10px; }
.mh-footer-widget .mh-posts-horizontal-widget { background: rgba(255, 255, 255, 0.1); }

/***** MH Posts Digest Widget *****/

.mh-posts-digest-wrap { border-bottom: 1px dotted #ebebeb; }
.mh-posts-digest-excerpt { margin-top: 10px; }
.mh-posts-digest-item-large { position: relative; padding-bottom: 20px; }
.mh-posts-digest-title-large { font-size: 20px; font-size: 1.25rem; margin-top: 10px; }
.mh-posts-digest-item-small { padding: 20px 0; }
.mh-posts-digest-small-category { font-size: 11px; font-weight: 700; color: #e64946; text-transform: uppercase; }
.mh-posts-digest-title-small { font-size: 16px; font-size: 1rem; }
.mh-home-wide .mh-posts-digest-title-large { font-size: 24px; font-size: 1.5rem; }
.mh-home-wide .mh-posts-digest-title-small { font-size: 18px; font-size: 1.125rem; }
.mh-widget-col-1 .mh-posts-digest-wrap { border: none; }
.mh-widget-col-1 .mh-posts-digest-item { float: none; width: 100%; margin: 0; border-bottom: 1px dotted #ebebeb; }
.mh-widget-col-1 .mh-posts-digest-item-large:first-child { margin-bottom: 20px; }
#mh-mobile .mh-footer-widget .mh-posts-digest-wrap, #mh-mobile .mh-footer-widget .mh-posts-digest-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Posts Focus Widget *****/

.mh-posts-focus-full { width: 100%; }
.mh-posts-focus-full .mh-posts-focus-large { width: 65.83%; }
.mh-posts-focus-full .mh-posts-focus-small-inner { width: 31.66%; margin-left: 2.5%; }
.mh-posts-focus-inner { float: right; }
.mh-posts-focus-large { width: 65.67%; }
.mh-posts-focus-small-inner { width: 31.07%; margin-left: 3.26%; }
.mh-posts-focus-outer { margin-right: 2.5%; margin-left: 0; }
.mh-posts-focus-item { position: relative; }
.mh-posts-focus-thumb { margin-bottom: 10px; }
.mh-posts-focus-thumb img { width: 100%; }
.mh-posts-focus-title { font-size: 20px; font-size: 1.25rem; }
.mh-posts-focus-excerpt { margin-top: 10px; overflow: hidden; }
.mh-posts-focus-item-small:first-child { margin-bottom: 20px; }
.mh-home-wide .mh-posts-focus-title-large { font-size: 24px; font-size: 1.5rem; }
.mh-home-wide .mh-posts-focus-title-small { font-size: 18px; font-size: 1.125rem; }
.mh-home-wide .mh-posts-focus-excerpt-small { display: none; }
.mh-widget-col-1 .mh-posts-focus-wrap, .mh-widget-col-2 .mh-posts-focus-wrap { float: none; width: 100%; margin: 0; }
.mh-widget-col-1 .mh-posts-focus-item, .mh-widget-col-2 .mh-posts-focus-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-widget-col-1 .mh-posts-focus-item-large, .mh-widget-col-2 .mh-posts-focus-item-large { margin: 0; }
.mh-widget-col-2 .mh-posts-focus-thumb-small { float: left; max-width: 235px; margin: 0 20px 0 0; }
.mh-widget-col-2 .mh-posts-focus-title-large { font-size: 24px; font-size: 1.5rem; }
#mh-mobile .mh-footer-widget .mh-posts-focus-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Posts Lineup Widget *****/

.mh-posts-lineup-widget { position: relative; }
.mh-posts-lineup-widget a, .mh-posts-lineup-widget a:hover { color: #fff; }
.mh-posts-lineup-normal { max-width: 678px; overflow: hidden; }
.mh-posts-lineup-thumb img { width: 100%; }
.mh-posts-lineup-caption { position: absolute; width: 100%; bottom: 0; color: #fff; background: #2a2a2a; background: rgba(42, 42, 42, 0.8); }
.mh-posts-lineup-content { padding: 25px; }
.mh-posts-lineup-content .mh-excerpt { margin-top: 10px; }
.mh-posts-lineup-more { list-style: square; color: #e64946; margin-left: 15px; }
.mh-posts-lineup-more-item { margin-top: 5px; }
.mh-posts-lineup-more-item:first-child { margin-top: 10px; }
.mh-posts-lineup-more-title { font-size: 14px; }
.mh-home-wide .mh-posts-lineup-category { font-size: 14px; font-size: 0.875rem; padding: 10px 15px; }
.mh-widget-col-1 .mh-posts-lineup-caption { position: relative; width: 100%; background: #2a2a2a; }
.mh-widget-col-1 .mh-posts-lineup-title { font-size: 20px; font-size: 1.25rem; }
#mh-mobile .mh-footer-widget .mh-posts-lineup-caption { background: rgba(255, 255, 255, 0.1); }

/***** MH Authors & MH Recent Comments Widget *****/

.mh-user-item { padding: 20px 0; border-bottom: 1px dotted #ebebeb; }
.mh-user-item:first-child { padding-top: 0; }
.mh-user-avatar { float: left; margin-right: 15px; }
.mh-user-author-name, .mh-recent-comments-author { font-size: 14px; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; }
.mh-user-data { font-size: 13px; font-size: 0.8125rem; color: #979797; }
.mh-footer-widget .mh-user-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Author Bio Widget *****/

.mh-author-bio-widget { padding: 25px; border-bottom: 3px solid #e64946; background: #2a2a2a; }
.mh-author-bio-title { font-size: 16px; font-size: 1rem; color: #fff; padding: 0 0 5px; margin-bottom: 25px; border-bottom: 3px solid #e64946; text-transform: uppercase; }
.mh-author-bio-image-frame { border: 10px solid #e64946; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; overflow: hidden; }
.mh-author-bio-avatar { width: 120px; height: 120px; margin: 0 auto; }
.mh-author-bio-text { font-size: 14px; font-size: 0.875rem; color: #fff; margin-top: 25px; }
.mh-footer-widget .mh-author-bio-widget { border-bottom: 0; background: #e64946; }
.mh-footer-widget .mh-author-bio-title { font-size: 14px; font-size: 0.875rem; color: #fff; }
.mh-footer-widget .mh-author-bio-title, .mh-footer-widget .mh-author-bio-image-frame { border-color: #fff; }
.mh-footer-widget .mh-author-bio-text { font-size: 13px; font-size: 0.8125rem; color: #fff; }

/***** MH YouTube Video Widget *****/

.mh_magazine_youtube .fa { font-size: 18px; font-size: 1.125rem; margin-right: 10px; }
.mh-video-widget { border-bottom: 3px solid #e64946; }
.mh-video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.mh-video-container iframe, .mh-video-container object, .mh-video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; }

/***** MH Social Widget *****/

.mh-social-widget { padding: 15px 5px 5px 15px; background: #f5f5f5; }
.mh-social-widget .fa-mh-social, .mh-social-widget li:hover .fa-mh-social { color: #fff; }
.mh-social-widget li { margin: 0 10px 10px 0; }
.mh-social-widget li a { display: block; width: 63px; height: 63px; line-height: 63px; font-size: 24px; background: #2a2a2a; }
.mh-social-widget li:hover a { background: #e64946; }
.mh-footer-widget .mh-social-widget { background: rgba(255, 255, 255, 0.1); }
.mh-footer-widget .mh-social-widget .fa-mh-social { color: #fff; }
.mh-footer-widget .mh-social-widget li a { width: 60px; height: 60px; line-height: 60px; font-size: 20px; background: #e64946; }
.mh-footer-widget .mh-social-widget li:hover a { background: #fff; }
.mh-footer-widget .mh-social-widget li:hover .fa-mh-social { color: #2a2a2a; }

/***** MH Facebook Page Widget *****/

.mh-magazine-facebook-page-widget { padding: 14px; background: #f5f5f5; }
.mh_magazine_facebook_page .fb_iframe_widget { display: block; text-align: center; overflow: hidden; }
.mh-footer-widget .mh-magazine-facebook-page-widget { background: rgba(255, 255, 255, 0.1); }

/***** MH News in Pictures Widget *****/

.mh-nip-widget { padding: 15px 15px 10px; background: #f5f5f5; text-align: center; }
.mh-nip-item { display: inline-block; margin: 0 5px 5px 0; }
.mh-nip-item a { position: relative; display: block; }
.mh-nip-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.mh-nip-item:hover .mh-nip-overlay { background: #2a2a2a; opacity: 0.5; filter: alpha(opacity=50); }
.mh-footer-widget .mh-nip-widget { background: rgba(255, 255, 255, 0.1); }

/***** MH Tabbed Widget *****/

.mh-tabbed-widget, .mh-tabbed-widget a { color: #000; }
.mh-tabbed-widget a:hover { color: #e64946; }
.mh-tabbed-widget .tagcloud a { color: #fff; }
.mh-tab-buttons { border-bottom: 3px solid #e64946; }
.mh-tab-button { display: block; float: left; width: 33.33%; line-height: 2; padding: 5px 0; background: #f5f5f5; cursor: pointer; text-align: center; -webkit-transition: 0.25s ease-out; -moz-transition: 0.25s ease-out; transition: 0.25s ease-out; }
.mh-tab-button.active, .mh-tab-button.active:hover { color: #fff; background: #e64946; }
.mh-tab-button span { padding: 0 15px; font-size: 24px; }
.mh-tab-content { display: none; padding: 25px; background: #f5f5f5; }
.mh-tab-posts { display: block; }
.mh-tab-post-item { padding-bottom: 5px; margin-top: 5px; border-bottom: 1px dotted #e5e5e5; }
.mh-tab-post-item:first-child, .mh-tab-comment-item:first-child { margin-top: 0; }
.mh-tab-content-cloud { overflow: hidden; }
.mh-tab-comment-item { margin-top: 25px; }
.mh-tab-comment-avatar { float: left; display: block; margin: 0 10px 0 0; }
.mh-tab-comment-author { font-weight: 700; text-transform: uppercase; }
.mh-tab-comment-excerpt { display: block; padding: 25px; margin-top: 10px; background: #fff; border-radius: 25px; font-style: italic; }
.mh-footer-widget .mh-tabbed-widget, .mh-footer-widget .mh-tabbed-widget a, .mh-footer-widget .mh-tabbed-widget a:hover { color: #fff; }
.mh-footer-widget .mh-tab-button, .mh-footer-widget .mh-tab-content	{ background: rgba(255, 255, 255, 0.1); }
.mh-footer-widget .mh-tab-post-item { border-color: rgba(255, 255, 255, 0.3); }
.mh-footer-widget .mh-tab-button.active { color: #fff; background: #e64946; }
.mh-footer-widget .mh-tab-comment-excerpt { background: #2a2a2a; }

/***** MH Category Columns Widget *****/

.mh-category-columns { margin-top: 20px; }
.mh-category-columns-start { margin: 0; }
.mh-category-column-thumb { position: relative; margin-bottom: 10px; }
.mh-category-columns-image-normal .mh-category-column-thumb { max-width: 326px; }
.mh-category-columns-image-large .mh-category-column-thumb { max-width: 678px; }
.mh-category-column-caption { font-size: 11px; }
.mh-category-column-item { padding: 5px 0; border-bottom: 1px dotted #ebebeb; }
.mh-category-column-item:first-child { padding-top: 0; }
.mh-category-column-title { font-size: 14px; }
.mh-widget-col-1 .mh-category-column { width: 100%; margin: 20px 0 0; }
.mh-footer-widget .mh-category-column-item { border-color: rgba(255, 255, 255, 0.3); }

/***** Default WordPress Widgets *****/

.widget_archive li, .widget_categories li, .widget_pages li a, .widget_meta li, .widget_nav_menu .menu > li, .widget_rss li { border-bottom: 1px dotted #ebebeb; }
.widget_archive li a, .widget_categories li a, .widget_pages li a, .widget_meta li a, .widget_nav_menu li a, .widget_rss li { display: block; padding: 5px 0; }
.widget_archive li:first-child a, .widget_categories li:first-child a, .widget_pages li:first-child a, .widget_meta li:first-child a, .widget_nav_menu li:first-child a, .widget_rss li:first-child { padding-top: 0; }
.widget_pages .children li a { padding: 5px 0; }
.widget_nav_menu .sub-menu li { border-top: 1px dotted #ebebeb; }
.widget_nav_menu .sub-menu li:first-child a { padding-top: 5px; }
.widget_rss a { font-weight: 700; }
.widget_rss .rss-date { margin-right: 5px; }
.widget_rss .rss-date, .widget_rss cite { font-size: 13px; font-size: 0.8125rem; color: #979797; }
.widget_rss .rssSummary { margin-top: 5px; }
.mh-footer-widget.widget_rss a { font-weight: 400; }
.mh-footer-widget.widget_archive li, .mh-footer-widget.widget_categories li, .mh-footer-widget.widget_pages li a, .mh-footer-widget.widget_meta li, .mh-footer-widget.widget_nav_menu .menu > li, .mh-footer-widget.widget_nav_menu .sub-menu li, .mh-footer-widget.widget_rss li { border-color: rgba(255, 255, 255, 0.3); }

/***** WP Calendar Widget *****/

#wp-calendar caption { text-align: left; margin-bottom: 5px; text-transform: uppercase; }
#wp-calendar th, #wp-calendar td { padding: 5px 10px; text-align: center; }
#wp-calendar th { font-weight: 300; }
#wp-calendar a { font-weight: 700; }
#wp-calendar #prev { text-align: left; }

/***** WP Tag Cloud Widget *****/

.tagcloud a { display: inline-block; font-weight: 700; color: #fff; padding: 5px 10px; margin: 0 4px 8px 0; white-space: nowrap; text-transform: uppercase; }
.mh-widget .tagcloud a { background: #2a2a2a; }
.mh-footer-widget .tagcloud a { background: #000; }
.tagcloud a:hover, .mh-widget .tagcloud a:hover, .mh-footer-widget .tagcloud a:hover { color: #fff; background: #e64946; }

/***** WP Recent Posts Widget / WP Recent Comments Widget *****/

.widget_recent_entries li, .recentcomments { display: block; padding: 5px 0; border-bottom: 1px dotted #e5e5e5; }
.widget_recent_entries li:first-child, .recentcomments:first-child { padding-top: 0; }
.widget_recent_entries .post-date { display: block; font-size: 11px; font-size: 0.6875rem; color: #979797; margin-bottom: 5px; }
.mh-footer-widget.widget_recent_entries li, .mh-footer-widget .recentcomments { border-color: rgba(255, 255, 255, 0.3); }

/***** Media Queries *****/

@media screen and (max-width: 1475px) {
	.mh-boxed-layout .mh-container { width: 95%; }
	.mh-boxed-layout .mh-container-inner { width: 100%; }
}
@media screen and (max-width: 1120px) {
	.mh-container-inner { width: 100%; }
	.mh-two-sb .mh-main, .mh-two-sb .mh-sidebar-2 { float: none; width: 100%; max-width: 100%; margin: 0; }
	.mh-two-sb .mh-sidebar-2 { margin-top: 20px; }
	.mh-two-sb .mh-home-sidebar-2, .mh-home-sidebar { margin-top: 0; }
	.mh-two-sb .mh-footer-area { margin-left: 2.5%; }
	.mh-two-sb .mh-footer-4-cols { width: 23.12%; }
	.mh-two-sb .mh-footer-3-cols { width: 31.66%; }
	.mh-two-sb .mh-footer-2-cols { width: 48.75%; }
	.mh-main-nav li { font-size: 12px; }
	.mh-header-nav li a { padding: 0 15px; }
	.mh-main-nav li a, .mh-extra-nav li a, .mh-footer-nav li a { padding: 10px 15px; }
	.mh-sidebar-wide .mh-custom-posts-thumb-xl, .mh-sidebar-wide .mh-posts-list-thumb { float: left; max-width: 235px; margin: 0 20px 0 0; margin: 0 1.25rem 0 0; }
	.mh-sidebar-wide .mh-posts-grid { padding-bottom: 20px; border-bottom: 1px dotted #ebebeb; }
	.mh-sidebar-wide .mh-posts-grid-col { float: left; width: 31.66%; padding: 0; margin: 0 0 0 2.5%; border: none; }
	.mh-sidebar-wide .mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
	.mh-sidebar-wide .mh-posts-stacked-wrap { float: left; width: 50%; overflow: hidden; }
	.mh-sidebar-wide .mh-posts-stacked-overlay-small { border-left: 1px solid #fff; }
	.mh-sidebar-wide .mh-posts-stacked-title-small { font-size: 14px; padding: 2px 5px; }
	.mh-sidebar-wide .mh-posts-horizontal-item { float: left; width: 23.12%; margin: 0 0 0 2.5%; }
	.mh-sidebar-wide .mh-posts-digest-wrap { border-bottom: 1px dotted #ebebeb; }
	.mh-sidebar-wide .mh-posts-digest-item { float: left; margin-left: 2.5%; border: none; }
	.mh-sidebar-wide .mh-posts-digest-item-large { width: 48.75%; }
	.mh-sidebar-wide .mh-posts-digest-item-small { width: 31.66%; }
	.mh-sidebar-wide .mh-posts-digest-title-large, .mh-sidebar-wide .mh-posts-focus-title-large, .mh-sidebar-wide .mh-slider-title, .mh-sidebar-wide .mh-posts-lineup-title { font-size: 24px; font-size: 1.5rem; }
	.mh-sidebar-wide .mh-posts-digest-title-small, .mh-sidebar-wide .mh-posts-focus-title-small { font-size: 18px; font-size: 1.125rem; }
	.mh-sidebar-wide .mh-posts-focus-wrap { float: left; }
	.mh-sidebar-wide .mh-posts-focus-inner { float: right; width: 74.37%; }
	.mh-sidebar-wide .mh-posts-focus-large { width: 65.67%; }
	.mh-sidebar-wide .mh-posts-focus-full .mh-posts-focus-large { width: 65.83%; }
	.mh-sidebar-wide .mh-posts-focus-small-inner { width: 31.07%; margin-left: 3.26%; }
	.mh-sidebar-wide .mh-posts-focus-full .mh-posts-focus-small-inner { width: 31.66%; margin-left: 2.5%; }
	.mh-sidebar-wide .mh-posts-focus-outer { width: 23.12%; margin-right: 2.5%; margin-left: 0; }
	.mh-sidebar-wide .mh-posts-focus-item { margin: 0; border: none; }
	.mh-sidebar-wide .mh-posts-focus-excerpt-small { display: none; }
	.mh-sidebar-wide .mh-category-column { margin: 0 0 0 2.5%; }
	.mh-sidebar-wide .mh-col-1-2.mh-category-column { width: 48.75%; }
	.mh-sidebar-wide .mh-col-1-3.mh-category-column { width: 31.66%; }
	.mh-sidebar-wide .mh-col-1-4.mh-category-column { width: 23.12%; }
	.mh-sidebar-wide .mh-col-1-5.mh-category-column { width: 18.00%; }
}
@media screen and (max-width: 900px) {
	#mh-mobile .mh-header-1, #mh-mobile .mh-header-2 { margin: 20px; }
	#mh-mobile .mh-container { width: 100%; }
	.mh-container-outer { margin: 0 auto; }
	.mh-wrapper, #mh-mobile .mh-site-logo, .mh-slider-content, .mh-spotlight-widget, .mh-author-bio-widget, .mh-posts-horizontal-widget, .mh-posts-lineup-content { padding: 20px; }
	.mh-header-search .search-form { margin-right: 20px; }
	.mh-footer { padding: 20px 20px 0 }
	.mh-copyright { text-align: center; }
	.mh-comment-list .children { margin-left: 15px; }
	.mh-widget, .mh-footer-widget { margin-bottom: 20px; }
	#mh-mobile .mh-footer-4-cols { width: 31.66%; }
	.mh-footer-4 { display: none; }
	.mh-slider-normal { width: 100%; }
	.mh-slider-layout1 .flex-control-nav { width: auto; top: 15px; right: 10px; bottom: auto; }
	#mh-mobile .mh-slider-caption { position: relative; width: 100%; max-width: 100%; top: auto; right: auto; bottom: auto; left: auto; background: rgba(42, 42, 42, 1); }
	.mh-slider-layout3 .mh-slider-caption, .mh-slider-layout5 .mh-slider-caption { border-bottom: 3px solid #e64946; }
	#mh-mobile .mh-slider-layout4 .mh-slider-caption { background: #fff; }
	.mh-widget-col-1 .mh-custom-posts-small-title { font-size: 13px; font-size: 0.8125rem; }
	.mh-posts-stacked-item { bottom: 20px; left: 20px; padding-right: 20px; }
	#mh-mobile .mh-posts-stacked-title-small, .mh-widget-col-1 .mh-posts-stacked-title-large { font-size: 13px; padding: 2px 5px; }
	.mh-sidebar-wide .mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
	.mh-posts-horizontal-widget-more { padding-top: 0; }
	#mh-mobile .mh-posts-horizontal-title { font-size: 12px; }
	.mh-posts-lineup-normal { max-width: 100%; }
	.mh-posts-lineup-caption { position: relative; width: 100%; background: #2a2a2a; }
}
@media screen and (max-width: 767px) {
	.js .slicknav_menu { display: block; }
	.js .mh-navigation, .mh-header-bar-top-left, .mh-header-bar-bottom-left, .mh-header-date { display: none; }
	.mh-header-bar-content, .mh-social-nav, .mh-site-identity, .mh-header-widget-2, .mh-content, .mh-sidebar, .mh-right-sb #main-content, .mh-left-sb #main-content, #mh-mobile .mh-footer-area { float: none; width: 100%; margin: 0; }
	.mh-header-search { float: none; width: 100%; margin: 0; padding: 10px 0; }
	.mh-header-search .search-form { float: none; text-align: center; margin: 0; }
	.mh-header-search .search-field { width: 250px; max-width: 100%; }
	.mh-site-logo, .mh-social-nav ul { text-align: center; }
	.mh-social-nav li a { font-size: 20px; line-height: 40px; }
	.mh-header-title, .entry-header .entry-title { font-size: 24px; font-size: 1.5rem; }
	#mh-mobile .mh-header-2 { margin: 0 20px 20px 20px; text-align: center; }
	#mh-mobile .mh-header-widget-2-full .mh-header-2 { margin: 20px; }
	.mh-sidebar { margin-top: 20px; }
	.mh-two-sb .mh-sidebar-2, .mh-home-sidebar { margin-top: 0; }
	.mh-breadcrumb, .entry-header .entry-meta { padding: 5px 0; }
	.mh-content-ad { float: none; margin: 0 0 20px 0; text-align: center; }
	#commentform .form-submit { margin: 25px 0 0; }
	.mh-footer-4 { display: block; }
	.mh-posts-grid .mh-posts-grid-col { float: left; margin-left: 2.5%; }
	.mh-posts-grid .mh-col-1-2 { width: 48.75%; }
	.mh-posts-grid .mh-col-1-3 { width: 31.66%; }
	.mh-posts-grid-thumb img { max-width: 100%; }
	.mh-widget-col-1 .mh-posts-grid { padding-bottom: 20px; border-bottom: 1px dotted #ebebeb; }
	.mh-widget-col-1 .mh-posts-grid-col { float: left; width: 31.66%; padding: 0; margin: 0 0 0 2.5%; border: none; }
	#mh-mobile .mh-custom-posts-thumb-xl, #mh-mobile .mh-posts-list-thumb { float: left; max-width: 235px; margin: 0 15px 0 0; margin: 0 0.9375rem 0 0; }
	#mh-mobile .mh-custom-posts-small-title { font-size: 14px; font-size: 0.875rem; }
	#mh-mobile .mh-posts-stacked-large, #mh-mobile .mh-posts-stacked-columns { float: none; width: 100%; }
	#mh-mobile .mh-posts-stacked-small { float: left; width: 50%; }
	#mh-mobile .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
	.mh-posts-stacked-small:nth-child(odd) .mh-posts-stacked-overlay-small { border-right: 1px solid #fff; }
	#mh-mobile .mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
	#mh-mobile .mh-posts-stacked-title-small { font-size: 16px; }
	.mh-posts-horizontal-thumb { float: none; margin-bottom: 10px; }
	#mh-mobile .mh-posts-horizontal-title { font-size: 14px; }
	.mh-widget-col-1 .mh-posts-horizontal-item { float: left; width: 23.12%; margin: 0 0 0 2.5%; }
	#mh-mobile .mh-posts-digest-item, .mh-widget-col-1 .mh-posts-digest-large { border-bottom: 1px dotted #ebebeb; }
	#mh-mobile .mh-posts-digest-small, #mh-mobile .mh-posts-digest-item-large { border: none; }
	.mh-widget-col-1 .mh-posts-digest-item-large { float: left; width: 48.75%; margin-left: 2.5%; }
	#mh-mobile .mh-posts-digest-item-small, #mh-mobile .mh-posts-focus-wrap { float: none; width: 100%; margin: 0; }
	#mh-mobile .mh-posts-digest-title-large, #mh-mobile .mh-posts-focus-title-small { font-size: 20px; font-size: 1.25rem; }
	#mh-mobile .mh-posts-digest-title-small { font-size: 16px; font-size: 1rem; }
	#mh-mobile .mh-posts-focus-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
	#mh-mobile .mh-posts-focus-item-large { margin: 0; }
	.mh-posts-focus-thumb-small { float: left; max-width: 235px; margin: 0 20px 0 0; }
	#mh-mobile .mh-posts-focus-excerpt-small { display: block; }
	#mh-mobile .mh-posts-focus-title-large, #mh-mobile .mh-slider-title, #mh-mobile .mh-posts-lineup-title { font-size: 24px; font-size: 1.5rem; }
	.mh-widget-col-1 .mh-category-column { margin: 0 0 0 2.5%; }
	.mh-widget-col-1 .mh-col-1-2.mh-category-column { width: 48.75%; }
	.mh-widget-col-1 .mh-col-1-3.mh-category-column { width: 31.66%; }
	.mh-widget-col-1 .mh-col-1-4.mh-category-column { width: 23.12%; }
	.mh-widget-col-1 .mh-col-1-5.mh-category-column { width: 18.00%; }
}
@media screen and (max-width: 620px) {
	input[type=text], input[type=email], input[type=tel], input[type=url] { width: 88%; }
	[class*='mh-col-'] { float: none; width: 100%; margin: 0; }
	.entry-meta-categories { display: none; }
	.mh-author-box { text-align: center; }
	.mh-author-box-avatar { float: none; display: inline-block; margin: 0 0 20px; }
	.entry-content ul, .entry-content ol { margin: 0 0 20px 20px; }
	.entry-content ul ul, .entry-content ol ol { margin: 0 0 0 20px; }
	.single-post .mh-post-nav-next { margin-top: 25px; }
	#mh-mobile .mh-slider-title, .mh-spotlight-title, .mh-posts-large-title, #mh-mobile .mh-posts-focus-title-large, #mh-mobile .mh-posts-lineup-title { font-size: 20px; font-size: 1.25rem; }
	.mh-slider-layout1 .flex-control-nav, .mh-slider-layout3 .flex-control-nav, .mh-slider-layout4 .flex-control-nav, .mh-slider-layout5 .flex-control-nav { display: none; }
	#mh-mobile .mh-slider-layout5 .mh-slider-category { top: 0; left: 0; }
	#mh-mobile .mh-posts-grid { padding: 0; border: none; }
	#mh-mobile .mh-posts-grid-col { float: none; width: 100%; margin: 20px 0 0 0; border-bottom: 1px dotted #ebebeb; }
	#mh-mobile .mh-posts-grid-col:first-child { margin-top: 0; }
	.mh-posts-grid-thumb { float: left; margin: 0 15px 20px 0; }
	.mh-posts-grid-excerpt { display: none; }
	.mh-posts-list-item { padding-bottom: 20px; }
	.mh-posts-list-caption, .mh-posts-grid-caption, .mh-custom-posts-caption { display: none; }
	#mh-mobile .mh-custom-posts-thumb-xl, #mh-mobile .mh-posts-list-thumb, .mh-posts-grid-thumb, #mh-mobile .mh-posts-focus-thumb-small { max-width: 80px; }
	.mh-custom-posts-xl-title, .mh-posts-list-title, .mh-posts-grid-title, .mh-widget-col-2 .mh-posts-grid-title, .mh-related-content .mh-posts-grid-title, #mh-mobile .mh-posts-focus-title-small { font-size: 14px; font-size: 0.875rem; }
	.mh-custom-posts-content .mh-meta, .mh-posts-list-header .mh-meta, .mh-posts-grid-item .mh-meta, .mh-posts-focus-item-small .mh-meta { display: block; font-size: 11px; font-size: 0.6875rem; }
	.mh-custom-posts-content .mh-excerpt, .mh-posts-list-excerpt, #mh-mobile .mh-posts-focus-excerpt-small, .mh-posts-focus-caption-small { display: none; }
	#mh-mobile .mh-thumb-icon-small-mobile:after { font-size: 10px; padding: 5px; }
	#mh-mobile .format-video .mh-thumb-icon-small-mobile:after, #mh-mobile .format-audio .mh-thumb-icon-small-mobile:after { padding: 5px 6px; }
	.mh-posts-stacked-item { bottom: 10px; left: 10px; padding-right: 10px; }
	#mh-mobile .mh-posts-stacked-title-small { font-size: 14px; }
	#mh-mobile .mh-posts-horizontal-item { float: none; width: 100%; margin: 20px 0 0; }
	#mh-mobile .mh-posts-horizontal-item:first-child { margin: 0; }
	#mh-mobile .mh-posts-horizontal-thumb { float: left; margin: 0 10px 0 0; }
	#mh-mobile .mh-posts-digest-large { border: none; }
	#mh-mobile .mh-posts-digest-item { float: none; width: 100%; margin: 0; border-bottom: 1px dotted #ebebeb; }
	#mh-mobile .mh-posts-digest-item-large:first-child { margin-bottom: 20px; }
	#mh-mobile .mh-posts-focus-thumb-small { margin: 0 15px 0 0; }
	#mh-mobile .mh-category-column { width: 100%; margin: 20px 0 0; }
	#mh-mobile .mh-category-column:first-child { margin: 0; }
	.mh-category-columns-image-normal img { display: none; }
	.mh-category-columns-image-normal .mh-category-column-thumb { max-width: 100%; }
	.mh-category-columns-image-normal .mh-category-column-caption { position: relative; }
}
@media only screen and (max-width: 420px) {
	.mh-header-search .search-form .search-field, .mh-header-search .search-form .search-field:hover { width: 215px; min-width: 215px; }
	.mh-comment-list .children { margin: 0; }
	#mh-mobile .mh-image-caption { font-size: 11px; padding: 5px 10px; }
	.mh-category-columns-image-normal img { display: block; width: 100%; }
	.mh-category-columns-image-normal .mh-category-column-caption { position: absolute; }
}
@media only screen and (max-width: 360px) {
	#mh-mobile .mh-posts-stacked-wrap { float: none; width: 100%; }
	#mh-mobile .mh-posts-stacked-overlay { border-right: none; }
	#mh-mobile .mh-posts-stacked-title { font-size: 16px; padding: 2px 5px; }
}